.fbLoginButton {
    background-image: url(http://localhost:8080/wine/resources/common/images/fbconnect.png);
}

#top {
    position: relative;
    /*background-color: #036fab;*/
    color: white;
    padding: 5px;
    margin: 33px 0px 30px 0px;
}

#signInPanel_content {
    height: 50px !important;
    margin-top: -7px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    /*background-color: #ece3a5;*/
    padding: 5px;
    width: 200px;
}

.left_bar_content {
    margin: auto;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 200px;
}

.center_content {
    position: relative;
    /*background-color: #dddddd;*/
    padding: 5px;
}

.left_content {
    /*background-color: #dddddd;*/
    padding: 5px;
    margin-left: 220px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: red;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


