<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberTemplateNoSideBar.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        WineExpress - Activate admin
    </ui:define>

    <ui:define name="content">
        <h:form id="activateForm" >
            <p:panel >
                <h:outputText style="font-weight:bold; font-size: large" value="Activate admin account" />
                <p:separator />
                
                <h:panelGroup rendered="#{not empty param.init}" >
                    <h:outputText value="Please choose a social service provider:" />
                    <h:panelGrid columns="2" >
                        <h:commandLink id="facebook" actionListener="#{activateAdmin.socialConnect('facebook')}" >
                            <f:param name="init" value="#{true}" />
                            <h:graphicImage library="common" name="images/facebook_icon.png" width="30" height="30" />
                        </h:commandLink>
                    </h:panelGrid>
                </h:panelGroup>
                
                <h:panelGroup rendered="#{empty param.init}">
                    <h:outputText style="display: none;" value="#{activateAdmin.activateAdmin()}" />
                    <p:messages showDetail="true" showSummary="false" />
                </h:panelGroup>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
