<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        WineExpress - Create category
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Create category" />
                <p:separator />
                <h:outputText style="color: red" value="* denotes required field" />
                
                <h:panelGrid id="infoGrid" columns="3">
                    <h:outputText style="font-weight: bold" value="*Category type: " />
                    <p:selectOneMenu id="categoryType" value="#{createCategory.categoryType}" 
                                     required="true" requiredMessage="Category type is required." >
                        <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                        <f:selectItems value="#{commonInfo.categoryTypes}" var="ct" itemLabel="#{ct.name}" itemValue="#{ct.code}" />
                    </p:selectOneMenu>
                    <p:message for="categoryType" />
                    
                    <h:outputText style="font-weight: bold" value="*Category name: " />
                    <p:inputText label="categoryName" id="categoryName" 
                                 value="#{createCategory.categoryName}" 
                                 required="true" requiredMessage="Category name is required." />
                    <p:message for="categoryName" />
                </h:panelGrid>
                
                <p:spacer height="15" />
                
                <h:panelGrid columns="3">
                    <p:button value="Cancel" outcome="AdminArea" />
                    <p:commandButton value="Confirm" actionListener="#{createCategory.createCategory}"
                                     update="infoGrid statusMsg" />
                    <p:messages id="statusMsg" escape="false" showDetail="true" showSummary="false" globalOnly="true" />
                </h:panelGrid>
                
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
