<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        WineExpress - Create product
    </ui:define>

    <ui:define name="content">
        <h:form enctype="multipart/form-data" >
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Create product" />
                <p:separator />
                <h:outputText style="color: red" value="* denotes required field" />
           
                <h:panelGrid id="infoGrid" columns="3">
                    <h:outputText style="font-weight: bold" value="*Image: " />
                    <p:fileUpload id="image" value="#{createProduct.photo}" mode="simple" 
                                  required="true" requiredMessage="Image is required."
                                  allowTypes="/(\.|\/)(png)$/" />
                    <p:message for="image" />
                    
                    <h:outputText style="font-weight: bold" value="*Big image: " />
                    <p:fileUpload id="bigImage" value="#{createProduct.bigPhoto}" mode="simple" 
                                  required="true" requiredMessage="Big image is required."
                                  allowTypes="/(\.|\/)(png)$/" />
                    <p:message for="bigImage" />
                    
                    <h:outputText style="font-weight: bold" value="*Product type: " />
                    <p:selectOneMenu id="productType" value="#{createProduct.product.type}" 
                                     required="true" requiredMessage="Product type is required." >
                        <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                        <f:selectItems value="#{commonInfo.productTypes}" var="pt" itemLabel="#{pt.name}" itemValue="#{pt.code}" />
                    </p:selectOneMenu>
                    <p:message for="productType" />

                    <h:outputText style="font-weight: bold" value="*Product name: " />
                    <p:inputText label="productName" id="productName" 
                                 value="#{createProduct.product.name}" 
                                 required="true" requiredMessage="Product name is required." />
                    <p:message for="productName" />
                    
                    <h:outputText style="font-weight: bold" value="*Brand:" /> 
                    <p:selectOneMenu id="brand" value="#{createProduct.brand}" 
                                     required="true" requiredMessage="Brand is required." >
                        <f:converter converterId="converter.categoryStateConverter" />
                        <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                        <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_BRAND)}"
                                       var="b" itemLabel="#{b.name}" itemValue="#{b}" />   
                    </p:selectOneMenu>
                    <p:message for="brand" />
                    
                    <h:outputText style="font-weight: bold" value="*Region:" /> 
                    <p:selectOneMenu id="region" value="#{createProduct.region}"
                                     required="true" requiredMessage="Region is required." >
                        <f:converter converterId="converter.categoryStateConverter" />
                        <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                        <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_REGION)}"
                                       var="r" itemLabel="#{r.name}" itemValue="#{r}" />      
                    </p:selectOneMenu>
                    <p:message for="region" />
                    
                    <h:outputText style="font-weight: bold" value="*Flavor:" /> 
                    <p:selectOneMenu id="flavor" value="#{createProduct.flavor}"
                                     required="true" requiredMessage="Flavor is required." >
                        <f:converter converterId="converter.categoryStateConverter" />
                        <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                        <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_FLAVOR)}"
                                       var="m" itemLabel="#{m.name}" itemValue="#{m}" />   
                    </p:selectOneMenu>
                    <p:message for="flavor" />
                    
                    <h:outputText style="font-weight: bold" value="*Cost: " />
                    <p:inputText label="cost" id="cost" 
                                 value="#{createProduct.product.cost}" 
                                 required="true" requiredMessage="Cost is required." >
                        <f:validateDoubleRange minimum="1" />
                    </p:inputText>
                    <p:message for="cost" />
                    
                    <h:outputText style="font-weight: bold" value="*Price: " />
                    <p:inputText label="price" id="price" 
                                 value="#{createProduct.product.price}" 
                                 required="true" requiredMessage="Price is required." >
                        <f:validateDoubleRange minimum="1" />
                    </p:inputText>
                    <p:message for="price" />
                    
                    <h:outputText style="font-weight: bold" value="Initial quantity: " />
                    <p:inputText label="quantity" id="quantity" 
                                 value="#{createProduct.product.quantity}" >
                        <f:validateLongRange minimum="0" />
                    </p:inputText>
                    <p:message for="quantity" />
                </h:panelGrid>
                
                <h:panelGrid id="editorGrid" columns="2" >
                    <h:outputText style="font-weight: bold" value="*Description: " />
                    <p:message for="editor" />
                </h:panelGrid>
                <p:editor id="editor" value="#{createProduct.product.description}"
                          required="true" requiredMessage="Description is required." />
                
                <p:spacer height="15" />
                
                <h:panelGrid columns="3">
                    <p:button value="Cancel" outcome="AdminArea" />
                    <p:commandButton value="Confirm" ajax="false" update="infoGrid productCategories editorGrid statusMsg" 
                                     action="#{createProduct.createProduct}" />
                    <p:messages id="statusMsg" escape="false" showDetail="true" showSummary="false" globalOnly="true" />
                </h:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
