<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaNoSideBarTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        WineExpress - Google analytic
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:panel >
                <h:outputText style="font-weight:bold; font-size: large" value="Google analytic" />
                <p:separator />
                <h:outputText style="color: red" value="* denotes required field" />
                <br/><br/>
                
                <h:panelGrid id="timeGrid" columns="8" >
                    <h:outputText style="font-weight: bold" value="*Start: " />
                    <p:calendar id="start" value="#{generateSalesReport.startDate}" pattern="MMMM dd, yyyy" 
                                required="true" requiredMessage="Start date is required."/>
                    
                    <p:spacer width="10" />
                    
                    <h:outputText style="font-weight: bold" value="*End: " />
                    <p:calendar id="end" value="#{generateSalesReport.endDate}" pattern="MMMM dd, yyyy" 
                                required="true" requiredMessage="End date is required."/>
                    
                    <p:spacer width="10" />
                    
                    <p:commandButton value="Pull data" actionListener="#{googleAnalytic.pullData}" oncomplete="chart.init();" update="timeGrid analytic" />
                    
                    <p:messages showDetail="true" showSummary="false" />
                </h:panelGrid>
                
                <p:separator />
                
                <h:panelGroup id="analytic" >
                    <p:panelGrid rendered="#{googleAnalytic.renderChart}" columns="4" >
                        <h:outputText style="font-weight: bold" value="No. of visitors: " />
                        <h:outputText value="#{googleAnalytic.numberOfVisitors}" />
                        
                        <h:outputText style="font-weight: bold" value="No. of unique visitors: " />
                        <h:outputText value="#{googleAnalytic.numberOfUniqueVisitors}" />
                    </p:panelGrid>
                    
                    <p:barChart rendered="#{googleAnalytic.renderChart}" value="#{googleAnalytic.googleAnalyticModel}" legendPosition="ne"
                                title="Top 10 most-viewed pages" orientation="horizontal" min="0" max="#{googleAnalytic.max}" style="height: 450px;" animate="true" />  
                </h:panelGroup>
                
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
