<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        WineExpress - Manage products
    </ui:define>

    <ui:define name="content">
        <h:form id="manageProductForm" >
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Product manager" />
                <p:separator />
                
                <p:messages id="statusMsg" showDetail="true" showSummary="false" />
                
                <p:dataTable id="productTable" value="#{productManager.filteredProducts}" var="product" paginator="true" 
                             rows="10" selectionMode="single" rowKey="#{product.id}" selection="#{productManager.product}" >  

                    <f:facet name="header">
                        <h:outputText style="font-weight: bold" value="Category type: " />
                        <h:selectOneMenu id="categoryType" binding="#{categoryType}" >
                            <f:ajax execute="@this" render="product" />
                            <f:selectItem  itemLabel="Choose one..." noSelectionOption="true" />
                            <f:selectItems value="#{commonInfo.categoryTypes}" var="ct" itemLabel="#{ct.name}" itemValue="#{ct.code}" />
                        </h:selectOneMenu>
                        
                        <p:spacer width="10" />
                        
                        <h:outputText style="font-weight: bold" value="Category: " />
                        <h:selectOneMenu id="product" binding="#{category}" >
                            <f:selectItem  itemLabel="Choose one..." noSelectionOption="true" />
                            <f:ajax execute="@this" render="productTable" listener="#{productManager.filterProducts(category.value, productType.value)}" />
                            <f:selectItems value="#{commonInfo.filterCategories(categoryType.value)}" var="ct" itemLabel="#{ct.name}" itemValue="#{ct.id}" />
                        </h:selectOneMenu>
                        
                        <p:separator />
                        
                        <h:outputText style="font-weight: bold" value="Product type: " />
                        <h:selectOneMenu id="productType" binding="#{productType}" >
                            <f:ajax execute="@this" render="productTable" listener="#{productManager.filterProducts(category.value, productType.value)}" />
                            <f:selectItem  itemLabel="All type" noSelectionOption="true" />
                            <f:selectItems value="#{commonInfo.productTypes}" var="pt" itemLabel="#{pt.name}" itemValue="#{pt.code}" />
                        </h:selectOneMenu>
                    </f:facet>
                    
                    <p:column headerText="Id" >
                        #{product.id}
                    </p:column>
                    
                    <p:column headerText="Name" >  
                        #{product.name}
                    </p:column>

                    <p:column headerText="Cost" >  
                        $ #{product.cost}
                    </p:column>
                    
                    <p:column headerText="Price" >  
                        $ #{product.price}
                    </p:column>
                    
                    <p:column headerText="Quantity" >  
                        #{product.quantity}
                    </p:column>
                    
                    <p:column style="width:30px;text-align: center;">  
                        <p:commandButton value="Edit" update=":productDialog" oncomplete="productDlg.show();"
                                         actionListener="#{productManager.prepareUpdateProduct(product)}" />
                    </p:column>
                    
                    <p:column style="width: 45px;">
                        <p:commandLink process="@this" oncomplete="confirmDlg.show();" >
                            <f:setPropertyActionListener target="#{productManager.product}" value="#{product}" />
                            <h:outputText styleClass="ui-icon ui-icon-trash" style="margin:0 auto;" /> 
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>

    <ui:define name="outside">
        <p:confirmDialog id="confirmDialog" message="Are you sure you want to delete this product?"
                         header="Initiating deleting process" severity="alert" widgetVar="confirmDlg" >
            <h:form>
                <div align="center">
                    <p:commandButton value="Yes!" update=":manageProductForm:statusMsg :manageProductForm:productTable" 
                                     actionListener="#{productManager.deleteProduct}" oncomplete="confirmDlg.hide();" />
                    <p:commandButton value="Not so sure..." onclick="confirmDlg.hide();" type="button" />
                </div>
            </h:form>
        </p:confirmDialog>
        
        <p:dialog header="Update product" id="productDialog" widgetVar="productDlg" modal="true" resizable="false" >
            <h:form >
                <p:panel>
                    <h:panelGrid id="infoGrid" columns="3" >
                        <h:outputText style="font-weight: bold" value="*Product type: " />
                        <h:selectOneMenu id="productType" value="#{productManager.product.type}" 
                                         required="true" requiredMessage="Product type is required." >
                            <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                            <f:selectItems value="#{commonInfo.productTypes}" var="pt" itemLabel="#{pt.name}" itemValue="#{pt.code}" />
                        </h:selectOneMenu>
                        <p:message for="productType" />

                        <h:outputText style="font-weight: bold" value="*Product name: " />
                        <p:inputText label="productName" id="productName" 
                                     value="#{productManager.product.name}" 
                                     required="true" requiredMessage="Product name is required." />
                        <p:message for="productName" />

                        <h:outputText style="font-weight: bold" value="*Brand:" /> 
                        <h:selectOneMenu id="brand" value="#{productManager.brand}" 
                                         required="true" requiredMessage="Brand is required." >
                            <f:converter converterId="converter.categoryStateConverter" />
                            <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                            <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_BRAND)}"
                                           var="b" itemLabel="#{b.name}" itemValue="#{b}" />   
                        </h:selectOneMenu>
                        <p:message for="brand" />

                        <h:outputText style="font-weight: bold" value="*Region:" /> 
                        <h:selectOneMenu id="region" value="#{productManager.region}"
                                         required="true" requiredMessage="Region is required." >
                            <f:converter converterId="converter.categoryStateConverter" />
                            <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                            <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_REGION)}"
                                           var="r" itemLabel="#{r.name}" itemValue="#{r}" />      
                        </h:selectOneMenu>
                        <p:message for="region" />

                        <h:outputText style="font-weight: bold" value="*Flavor:" /> 
                        <h:selectOneMenu id="flavor" value="#{productManager.flavor}"
                                         required="true" requiredMessage="Flavor is required." >
                            <f:converter converterId="converter.categoryStateConverter" />
                            <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                            <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_FLAVOR)}"
                                           var="m" itemLabel="#{m.name}" itemValue="#{m}" />   
                        </h:selectOneMenu>
                        <p:message for="flavor" />

                        <h:outputText style="font-weight: bold" value="*Cost: " />
                        <p:inputText label="cost" id="cost" 
                                     value="#{productManager.product.cost}" 
                                     required="true" requiredMessage="Cost is required." >
                            <f:validateDoubleRange minimum="1" />
                        </p:inputText>
                        <p:message for="cost" />

                        <h:outputText style="font-weight: bold" value="*Price: " />
                        <p:inputText label="price" id="price" 
                                     value="#{productManager.product.price}" 
                                     required="true" requiredMessage="Price is required." >
                            <f:validateDoubleRange minimum="1" />
                        </p:inputText>
                        <p:message for="price" />

                        <h:outputText style="font-weight: bold" value="*Quantity: " />
                        <p:inputText label="quantity" id="quantity" 
                                     value="#{productManager.product.quantity}"
                                     required="true" requiredMessage="Quantity is required." >
                            <f:validateLongRange minimum="0" />
                        </p:inputText>
                        <p:message for="quantity" />
                    </h:panelGrid>

                    <h:panelGrid id="editorGrid" columns="2" >
                        <h:outputText style="font-weight: bold" value="*Description: " />
                        <p:message for="editor" />
                    </h:panelGrid>
                    <p:editor id="editor" value="#{productManager.product.description}"
                              required="true" requiredMessage="Description is required." />
                    
                    <h:panelGrid columns="2" >
                        <p:button value="Cancel" onclick="productDlg.hide();" />
                        <p:commandButton value="Confirm" update="infoGrid :manageProductForm:productTable :manageProductForm:statusMsg" 
                                         actionListener="#{productManager.updateProduct}" oncomplete="productDlg.hide();" />
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>

</ui:composition>
