<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        WineExpress - Category manager
    </ui:define>

    <ui:define name="content">
        <h:form id="manageCategoryForm" >
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Category manager" />
                <p:separator />
                <h:outputText style="color: red" value="* denotes required field" />
                
                <p:messages id="statusMsg" showDetail="true" showSummary="false" />
                
                <p:dataTable id="categoryTable" value="#{categoryManager.categories}" var="category" 
                             paginator="true" rows="10" editable="true" >  

                    <f:facet name="header">  
                        <h:outputText style="font-weight: bold" value="Category type: " />
                        <h:selectOneMenu id="categoryType" binding="#{categoryType}" >
                            <f:ajax execute="@this" render="categoryTable" listener="#{categoryManager.filterCategories(categoryType.value)}" />
                            <f:selectItem  itemLabel="All type" noSelectionOption="true" />
                            <f:selectItems value="#{commonInfo.categoryTypes}" var="ct" itemLabel="#{ct.name}" itemValue="#{ct.code}" />
                        </h:selectOneMenu>
                    </f:facet>
                    
                    <p:ajax event="rowEdit" listener="#{categoryManager.updateCategory}" update="categoryTable :manageCategoryForm:statusMsg" />

                    <p:column headerText="Id" >
                        #{category.id}
                    </p:column>
                    
                    <p:column headerText="Created date" >
                        <h:outputText value="#{category.createdDate}" >
                            <f:converter converterId="converter.longToDateMonthYearConverter" />
                        </h:outputText>
                    </p:column>
                    
                    <p:column headerText="Name" >
                        <p:cellEditor>  
                            <f:facet name="output">  
                                #{category.name}
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{category.name}" validator="#{categoryNameValidator.validate}"
                                             required="true" requiredMessage="Category name is required." >
                                    <f:attribute name="categoryType" value="#{category.type}" />
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    
                    <p:column headerText="Edit" style="width:30px;text-align: center;">  
                        <p:rowEditor />
                    </p:column>
                    
                    <p:column>
                        <p:commandLink process="@this" oncomplete="confirmDlg.show();" >
                            <f:setPropertyActionListener target="#{categoryManager.category}" value="#{category}" />
                            <h:outputText styleClass="ui-icon ui-icon-trash" style="margin:0 auto;" /> 
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>

    <ui:define name="outside">
        <p:confirmDialog id="confirmDialog" message="Are you sure you want to delete this category?"
                         header="Initiating deleting process" severity="alert" widgetVar="confirmDlg" >
            <h:form>
                <div align="center">
                    <p:commandButton value="Yes!" update=":manageCategoryForm:statusMsg :manageCategoryForm:categoryTable" 
                                     actionListener="#{categoryManager.deleteCategory}" oncomplete="confirmDlg.hide();" />
                    <p:commandButton value="Not so sure..." onclick="confirmDlg.hide();" type="button" />
                </div>
            </h:form>
        </p:confirmDialog>
    </ui:define>

</ui:composition>
