<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core" >

    <ui:define name="title">
        WineExpress - Register admin
    </ui:define>

    <ui:define name="content">
        <h:form id="registerForm" >
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Create admin account" />
                <p:separator />
                <h:outputText style="color: red" value="* denotes required field" />

                <h:panelGrid id="infoGrid" columns="3" >
                    <h:outputText style="font-weight: bold" value="*Email: " />
                    <p:inputText size="30" id="email" value="#{registerAdmin.email}" 
                                 required="true" requiredMessage="Email is required."
                                 validator="#{registerAdmin.validateEmail}" >
                        <p:ajax process="@this" update="emailMsg" />
                    </p:inputText>
                    <p:message for="email" id="emailMsg" />

                    <h:outputText style="font-weight: bold" value="*First name: " />
                    <p:inputText label="firstName" id="firstName" 
                                 value="#{registerAdmin.firstName}" 
                                 required="true" requiredMessage="First name is required." />
                    <p:message for="firstName" />

                    <h:outputText style="font-weight: bold" value="*Last name: " />
                    <p:inputText label="lastName" id="lastName" 
                                 value="#{registerAdmin.lastName}" 
                                 required="true" requiredMessage="Last name is required." />
                    <p:message for="lastName" />

                    <h:outputText style="font-weight: bold" value="*Gender: " />
                    <h:selectOneRadio label="gender" id="gender" 
                                      value="#{registerAdmin.gender}"
                                      required="true" requiredMessage="Gender is required.">
                        <f:selectItem itemLabel="Male"   itemValue="Male" />
                        <f:selectItem itemLabel="Female" itemValue="Female" />
                    </h:selectOneRadio>
                    <p:message for="gender" />
                </h:panelGrid>

                <p:spacer height="15" />
                    
                <h:panelGrid columns="3">
                    <p:button value="Cancel" outcome="AdminArea" />
                    <p:commandButton value="Confirm" update="infoGrid statusMsg" action="#{registerAdmin.register}" />
                    <p:messages id="statusMsg" escape="false" showDetail="true" showSummary="false" globalOnly="true" /> 
                </h:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
