<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaNoSideBarTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="title">
        WineExpress - Sales report
    </ui:define>
    
    <ui:define name="content">
        <h:form id="form">
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Create product" />
                <p:separator />
                <h:outputText style="color: red" value="* denotes required field" />
                <br /><br />
                
                <h:outputText style="font-weight: bold" value="*Report: " />
                <h:selectBooleanCheckbox value="#{generateSalesReport.revenue}" />
                <h:outputText value="Revenue" />
                <p:spacer width="5" />
                <h:selectBooleanCheckbox value="#{generateSalesReport.cost}" />
                <h:outputText value="Cost" />
                <p:spacer width="5" />
                <h:selectBooleanCheckbox value="#{generateSalesReport.profit}" />
                <h:outputText value="Profit" />
                <p:spacer width="5" />
                <h:selectBooleanCheckbox value="#{generateSalesReport.quantity}" />
                <h:outputText value="Quantity" />
                
                <h:panelGrid id="infoGrid" columns="3">
                    <h:outputText style="font-weight: bold" value="*Interval: " />
                    <p:selectOneMenu id="interval" value="#{generateSalesReport.intervalType}"
                                     required="true" requiredMessage="Interval is required." binding="#{interval}" >
                        <f:ajax execute="@this" render="rangeGroup" />
                        <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                        <f:selectItem itemLabel="Annual Report"  itemValue="1" />
                        <f:selectItem itemLabel="Monthly Report" itemValue="2" />
                        <f:selectItem itemLabel="Weekly Report"  itemValue="3" />
                        <f:selectItem itemLabel="Daily Report"   itemValue="4" />
                    </p:selectOneMenu>
                    <p:message for="interval" />

                    <h:outputText style="font-weight: bold" value="*End: " />
                    <p:calendar id="end" value="#{generateSalesReport.endDate}" pattern="MMMM dd, yyyy" 
                                required="true" requiredMessage="End date is required."/>  
                    <p:message for="end" />

                    <h:outputText style="font-weight: bold" value="*Range: " />
                    <h:panelGroup id="rangeGroup" >
                        <p:selectOneMenu rendered="#{interval.value == 0}" id="rangeEmpty" value="#{generateSalesReport.range}"
                                          required="true" requiredMessage="Range is required." >
                            <f:selectItem itemLabel="Please choose an Interval first." noSelectionOption="true" />
                        </p:selectOneMenu>
                        
                        <p:selectOneMenu rendered="#{interval.value == 1}" id="rangeYear" value="#{generateSalesReport.range}"
                                          required="true" requiredMessage="Range is required." >
                            <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                            <f:selectItem itemLabel="1 year" itemValue="1" />
                            <f:selectItem itemLabel="2 year" itemValue="2" />
                            <f:selectItem itemLabel="3 year" itemValue="3" />
                        </p:selectOneMenu>
                        
                        <p:selectOneMenu rendered="#{interval.value == 2}" id="rangeMonth" value="#{generateSalesReport.range}"
                                          required="true" requiredMessage="Range is required." >
                            <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                            <f:selectItem itemLabel="1 month" itemValue="1" />
                            <f:selectItem itemLabel="3 month" itemValue="3" />
                            <f:selectItem itemLabel="6 month" itemValue="6" />
                        </p:selectOneMenu>
                        
                        <p:selectOneMenu rendered="#{interval.value == 3}" id="rangeWeek" value="#{generateSalesReport.range}"
                                          required="true" requiredMessage="Range is required." >
                            <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                            <f:selectItem itemLabel="1 week"   itemValue="1" />
                            <f:selectItem itemLabel="3 week"   itemValue="3" />
                            <f:selectItem itemLabel="6 week"   itemValue="6" />
                            <f:selectItem itemLabel="12 week"  itemValue="12" />
                        </p:selectOneMenu>
                        
                        <p:selectOneMenu rendered="#{interval.value == 4}" id="rangeDay" value="#{generateSalesReport.range}"
                                          required="true" requiredMessage="Range is required." >
                            <f:selectItem itemLabel="Choose one..." noSelectionOption="true" />
                            <f:selectItem itemLabel="1 week"  itemValue="7" />
                            <f:selectItem itemLabel="2 week"  itemValue="14" />
                        </p:selectOneMenu>
                    </h:panelGroup>
                    <h:panelGroup id="rangeMsgGroup" >
                        <p:message for="rangeYear" />
                        <p:message for="rangeMonth" />
                        <p:message for="rangeWeek" />
                        <p:message for="rangeDay" />
                    </h:panelGroup>
                    
                    <h:outputText style="font-weight: bold" value="Brand: " />
                    <p:selectOneMenu binding="#{brand}" style="width:160px;" label="Brand" 
                                     value="#{generateSalesReport.brand}"
                                     filter="true" filterMatchMode="startsWith" >
                        <f:selectItem noSelectionOption="true" itemLabel="All" itemValue="#{null}" />
                        <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_BRAND)}"
                                       var="b" itemLabel="#{b.name}" itemValue="#{b.id}" />
                    </p:selectOneMenu>
                    <h:outputText />

                    <h:outputText style="font-weight: bold" value="Region: " />
                    <p:selectOneMenu binding="#{region}" style="width:160px;" label="Region" 
                                     value="#{generateSalesReport.region}"
                                     filter="true" filterMatchMode="startsWith" >
                        <f:selectItem noSelectionOption="true" itemLabel="All" itemValue="#{null}" />
                        <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_REGION)}"
                                       var="r" itemLabel="#{r.name}" itemValue="#{r.id}" />  
                    </p:selectOneMenu>
                    <h:outputText />
                    
                    <h:outputText style="font-weight: bold" value="Flavor: " />
                    <p:selectOneMenu binding="#{flavor}" style="width:160px;" label="Flavor" 
                                     value="#{generateSalesReport.flavor}"
                                     filter="true" filterMatchMode="startsWith" >
                        <f:selectItem noSelectionOption="true" itemLabel="All" itemValue="#{null}" />
                        <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_FLAVOR)}"
                                       var="m" itemLabel="#{m.name}" itemValue="#{m.id}" />  
                    </p:selectOneMenu>
                    <h:outputText />
                </h:panelGrid>

                <p:commandButton value="Generate" actionListener="#{generateSalesReport.generate}" 
                                 update="infoGrid report" />
                
                <p:separator />
                
                <h:panelGroup id="report" >
                    <p:lineChart value="#{generateSalesReport.chartModel}"
                             legendPosition="e" 
                             animate="true"
                             minY="0"
                             maxY="#{generateSalesReport.maxY}" 
                             style="height:400px;" 
                             widgetVar="chart" 
                             rendered="#{generateSalesReport.rendered}"/>
                </h:panelGroup>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>

