<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        WineExpress - Notification center
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Notification center" />
                <p:separator />
                <h:outputText style="color: red" value="* denotes required field" />
                <br/><br/>
                
                <h:panelGrid id="subjectGrid" columns="3">
                    <h:outputText style="font-weight: bold" value="*Subject: " />
                    <p:inputText label="subject" id="subject" size="30"
                                 value="#{notificationManager.subject}" 
                                 required="true" requiredMessage="Subject is required." />
                    <p:message for="subject" />
                </h:panelGrid>
                
                <h:panelGrid id="contentGrid" columns="2" >
                    <h:outputText style="font-weight: bold" value="*Content: " />
                    <p:message for="content" />
                </h:panelGrid>
                <p:editor id="content" 
                          value="#{notificationManager.content}" 
                          required="true" requiredMessage="Content is required." />
                
                <h:panelGrid columns="3" >
                    <p:button value="Cancel" outcome="AdminArea" />
                    <p:commandButton value="Submit" update="subjectGrid contentGrid statusMsg" actionListener="#{notificationManager.sendNotification}"/>
                    <p:messages id="statusMsg" globalOnly="true" showDetail="true" showSummary="false" />
                </h:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
