<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaNoSideBarTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html" >

    <ui:define name="title">
        WineExpress - User manager
    </ui:define>

    <ui:define name="content">
        <h:form id="userManagerForm">
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="User manager" />
                <p:separator />

                <h:panelGrid id="infoGrid" columns="3">
                    <h:outputLabel for="adminPassword" style="font-weight: bold" value="Admin password: " />
                    <p:password id="adminPassword" feedback="false" 
                                value="#{userManager.adminPassword}" validator="#{passwordValidator.validate}"
                                required="true" requiredMessage="Admin password is required." />
                    <p:message id="adminPasswordMsg" for="adminPassword"/>

                    <h:outputText style="font-weight: bold" value="Email: " />
                    <p:inputText size="30" id="email" value="#{userManager.userEmail}" 
                                 required="true" requiredMessage="Email is required." />
                    <p:message for="email" id="emailMsg" />
                </h:panelGrid>

                <h:panelGrid id="buttonGrid" columns="4" >
                    <p:commandButton value="Get details" actionListener="#{userManager.getUserInfo}"
                                     process="@this, email" update="infoGrid buttonGrid" />

                    <h:panelGroup>
                        <p:commandButton value="Unblock" icon="ui-icon-unlocked" rendered="#{not empty userManager.user and userManager.user.blocked}"
                                         update="infoGrid buttonGrid" process="@this, adminPassword" actionListener="#{userManager.toggleUserBlockStatus}" />
                        <p:commandButton value="Block" icon="ui-icon-locked" rendered="#{not empty userManager.user and not userManager.user.blocked}"
                                         update="infoGrid buttonGrid" process="@this, adminPassword" actionListener="#{userManager.toggleUserBlockStatus}" />
                    </h:panelGroup>

                    <p:commandButton rendered="#{not empty userManager.user}" value="Delete this account" onclick="deleteDlg.show();" type="button" />
                    <p:messages id="statusMsg" globalOnly="true" showDetail="true" showSummary="false" />
                </h:panelGrid>

                <p:outputPanel autoUpdate="true">
                    <p:panel rendered="#{not empty userManager.user}" id="userInfoPanel" >
                        <h:panelGrid columns="2" >
                            <h:outputText style="font-weight: bold" value="Email: " />
                            <h:outputText style="font-weight: normal" value="#{userManager.user.email}" />

                            <h:outputText style="font-weight: bold" value="Name: " />
                            <h:outputText style="font-weight: normal" value="#{userManager.user.firstName}, #{userManager.user.lastName}" />

                            <h:outputText style="font-weight: bold" value="Gender: " />
                            <h:outputText style="font-weight: normal" value="#{userManager.user.gender}" />

                            <h:outputText style="font-weight: bold" value="Admin: " />
                            <h:outputText style="font-weight: normal" value="#{userManager.user.isAdmin}" />

                            <h:outputText style="font-weight: bold" value="Activated: " />
                            <h:outputText style="font-weight: normal" value="#{userManager.user.activated}" />

                            <h:outputText style="font-weight: bold" value="Blocked: " />
                            <h:outputText style="font-weight: normal" value="#{userManager.user.blocked}" />
                        </h:panelGrid>
                    </p:panel>
                </p:outputPanel>

            </p:panel>

            <p:remoteCommand name="deleteAccount" process="@this, adminPassword" oncomplete="deleteDlg.hide()"
                             update="adminPasswordMsg statusMsg" actionListener="#{userManager.deleteUser}"  />
        </h:form>
    </ui:define>

    <ui:define name="outside">
        <p:confirmDialog id="deleteDialog" message="You are about to delete this account! Please remember that once the account is deleted, there is no turning back."
                         header="Initiating cancelling process" severity="alert" widgetVar="deleteDlg" >
            <div align="center">
                <p:commandButton value="Yes!" onclick="deleteAccount();" type="button" />
                <p:commandButton value="Not so sure..." onclick="deleteDlg.hide();" type="button" />
            </div>
        </p:confirmDialog>
    </ui:define>

</ui:composition>