<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="title">
        WineExpress - Account settings
    </ui:define>

    <ui:define name="content">
        <h:form id="accountSettingsForm">
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Account settings" />
                <p:separator />
                
                <h:panelGrid columns="3">
                    <h:outputLabel for="currentPassword" style="font-weight: bold" value="Current password: " />
                    <p:password id="currentPassword" feedback="false" 
                                value="#{accountSettings.currentPassword}" validator="#{passwordValidator.validate}"
                                required="true" requiredMessage="Current password is required." />
                    <p:message id="currentPasswordMsg" for="currentPassword"/>
                </h:panelGrid>
                
                <p:spacer height="20" />
                
                <p:accordionPanel id="accordion">
                    <p:tab title="Change password" >
                        <h:panelGrid id="changePasswordGrid" columns="3" border="0" >
                    
                            <h:outputLabel for="newPassword" style="font-weight: bold" value="New password: " />
                            <p:password maxlength="15" feedback="true" label="New password"
                                        id="newPassword" value="#{accountSettings.newPassword}" match="confirmPassword" 
                                        required="true" requiredMessage="New password is required."/>
                            <p:message for="newPassword" />

                            <h:outputLabel for="confirmPassword" style="font-weight: bold" value="Confirm password: " />
                            <p:password feedback="false" id="confirmPassword" label="Confirm password" 
                                        required="true" requiredMessage="Confirm password is required."> 
                            </p:password>
                            <p:message for="confirmPassword" />

                        </h:panelGrid>
                        
                        <p:commandButton value="Change password" process="@this, :accountSettingsForm:currentPassword, newPassword, confirmPassword" 
                                         update=":accountSettingsForm:currentPasswordMsg changePasswordGrid :accountSettingsForm:growl" actionListener="#{accountSettings.changePassword}" />
                        
                    </p:tab>
                    
                    <p:tab title="Cancel account" >
                        You are about to cancel your account!
                        <br/>
                        Please remember that once the account is deleted, there is no turning back.
                        <br/><br/>
                        <p:commandButton value="Cancel this account" onclick="cancelDlg.show();" type="button" />
                    </p:tab>
                </p:accordionPanel>
                
                <p:remoteCommand name="cancelAccount" process="@this, currentPassword" oncomplete="cancelDlg.hide()"
                                 update="currentPasswordMsg" actionListener="#{accountSettings.cancelAccount}"  />
                
                <p:growl id="growl" globalOnly="true" showDetail="true" showSummary="false" />
            </p:panel>
        </h:form>
    </ui:define>
    
    <ui:define name="outside">
        <p:confirmDialog id="cancelDialog" message="Are you sure that you want to cancel this account?"
                         header="Initiating cancelling process" severity="alert" widgetVar="cancelDlg" >
            <div align="center">
                <p:commandButton value="Yes!" onclick="cancelAccount(); " type="button" />
                <p:commandButton value="Not so sure..." onclick="cancelDlg.hide();" type="button" />
            </div>
        </p:confirmDialog>
    </ui:define>

</ui:composition>
