<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberTemplate.xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="title">
        WineExpress - Account recovery
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Having trouble signing in?" />
                <p:separator />

                <h:panelGrid id="emailGrid" columns="3"  >

                    <h:outputText style="font-weight: bold" value="Email: " />
                    <p:inputText size="30" id="email" value="#{accountRecovery.email}" 
                                 required="true" requiredMessage="Email is required." />
                    <p:message for="email" id="emailMsg" />

                </h:panelGrid>

                <p:commandButton value="Confirm" update=":statusDialog emailGrid" oncomplete="statusDlg.show();" 
                                 actionListener="#{accountRecovery.recoverPassword}" />
            </p:panel>
        </h:form>

        <p:dialog header="Recovery status" width="550" modal="true" id="statusDialog" widgetVar="statusDlg" closable="false" >
            <h:panelGroup style="font-size: medium;">
                <p:messages id="statusMsg" escape="false" showDetail="true" showSummary="false" />
            </h:panelGroup>

            <div align="center">
                <p:button value="OK" outcome="index" />
            </div>
        </p:dialog>
    </ui:define>

</ui:composition>
