<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        WineExpress - Account activation
    </ui:define>

    <ui:define name="content">
        <h:outputText value="#{activateMember}" style="display: none;" />

        <h:panelGroup >
            <p:messages escape="false" showDetail="true" showSummary="false" globalOnly="true" />
        </h:panelGroup>
    </ui:define>

</ui:composition>
