<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        WineExpress - Contact Us
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Contact Us" />
                <p:separator />
                <h:outputText style="color: red" value="* denotes required field" />
            
                <h:panelGrid id="enquiryGrid" columns="3">
                    <h:outputText style="font-weight: bold" value="*Your name: " />
                    <p:inputText label="name" id="name" 
                                 value="#{contactUs.name}" 
                                 required="true" requiredMessage="Your name is required." />
                    <p:message for="name" />
                    
                    <h:outputText style="font-weight: bold" value="*Your email: " />
                    <p:inputText label="email" id="email" validator="#{contactUs.validateEmail}"
                                 value="#{contactUs.email}" 
                                 required="true" requiredMessage="Your email is required." />
                    <p:message for="email" />
                    
                    <h:outputText style="font-weight: bold" value="*Subject: " />
                    <p:inputText label="subject" id="subject"
                                 value="#{contactUs.subject}" 
                                 required="true" requiredMessage="Subject is required." />
                    <p:message for="subject" />
                </h:panelGrid>
                
                <h:panelGrid id="contentGrid" columns="2" >
                    <h:outputText style="font-weight: bold" value="*Your enquiry: " />
                    <p:message for="enquiry" />
                </h:panelGrid>
                <p:editor id="enquiry" 
                          value="#{contactUs.enquiry}" 
                          required="true" requiredMessage="Your enquiry is required." />
                
                <h:panelGrid columns="3" >
                    <p:button value="Cancel" outcome="index" />
                    <p:commandButton value="Submit" update="enquiryGrid contentGrid statusMsg" actionListener="#{contactUs.submitEnquiry}"/>
                    <p:messages id="statusMsg" globalOnly="true" showDetail="true" showSummary="false" />
                </h:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
