<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <h:head>
<!--        <f:metadata>  
            <f:event type="preRenderView" listener="{userSession.verify}" />  
        </f:metadata>  -->
    </h:head>
    
<body>

        <ui:composition template="./../template/MemberTemplateNoSideBar.xhtml">

            <ui:define name="title">
                WineExpress - Login Status
            </ui:define>

            <ui:define name="content">
                <h:panelGroup rendered="#{not empty param.socialLogin}" >
                    <h:outputText style="display:none;" value="#{userSession.pullUserInfo()}" />
                    
                    <p:messages escape="false" showDetail="true" showSummary="false" />
                    
                    <div align="center" >
                        <p:button value="OK" outcome="index" />
                    </div>
                </h:panelGroup>
                
                <h:panelGroup rendered="#{empty param.socialLogin}" >
                    <h:outputText style="display: none;" value="#{loginBean}" />
                    
                    <h:panelGroup rendered="#{empty userSession.us}" >
                        <h:panelGrid columns="1" style="text-align: center; margin: 0 auto;">
                            <h1>Sign in to WineExpress</h1>
                            <p:messages escape="false" showDetail="true" showSummary="false" />
                        </h:panelGrid>

                        <p:spacer height="10" />

                        <h:panelGroup >
                            <h:form>
                                <h:panelGrid style="position: relative; margin: 0 auto;" width="400" border="0" columns="3">

                                    <h:outputText style="font-weight: normal;" value="Email: " />
                                    <p:inputText label="username" 
                                                id="username" value="#{loginBean.email}" 
                                                required="true" requiredMessage="Email is required." size="20" />
                                    <h:outputText />

                                    <h:outputText style="font-weight: normal" value="Password: " />
                                    <p:password id="password" value="#{loginBean.password}" 
                                                feedback="false" required="true" requiredMessage="Password is required" size="20" />
                                    <h:outputLink value="#{constants.SYSTEM_MEMBER_PATH}AccountRecovery.xhtml" >
                                        <h:outputText value="Forgot your password?" />
                                    </h:outputLink>

                                    <h:outputText />
                                    <h:panelGroup style="width: 100px" >
                                        <h:commandButton image="../javax.faces.resource/button-login.png.xhtml?ln=common/images/" value="Sign in" action="#{loginBean.logIn}" >
                                            <f:param name="socialLogin" value="#{param.socialLogin}" />
                                        </h:commandButton>
                                    </h:panelGroup>
                                </h:panelGrid>

                            </h:form>

                            <p:spacer height="25" />

                            <p:separator />

                            <h:panelGrid style="position: relative; margin: 0 auto;" width="280" border="0" columns="2">
                                <h:outputText style="vertical-align: middle; font-size: small;" value="New to WineExpress?" />
                                <h:outputLink target="_blank" value="#{constants.SYSTEM_MEMBER_SSL_PATH}RegisterAccount.xhtml">
                                    <h:graphicImage library="member" name="images/button_sign_up.png" alt="Sign up" />
                                </h:outputLink>
                            </h:panelGrid>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </ui:define>

        </ui:composition>

    </body>
</html>
