<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="title">
        WineExpress - Register account
    </ui:define>

    <ui:define name="content">
        <h:form id="registerForm" >
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Sign up as member" />
                <p:separator />
                <h:outputText style="color: red" value="* denotes required field" />
                
                <h:panelGrid id="infoGrid" columns="3" >
                    <h:outputText style="font-weight: bold" value="*Email: " />
                    <p:inputText size="30" id="email" value="#{registerMember.email}" 
                                 required="true" requiredMessage="Email is required."
                                 validator="#{registerMember.validateEmail}" >
                        <p:ajax process="@this" update="emailMsg" />
                    </p:inputText>
                    <p:message for="email" id="emailMsg" />
                    
                    <h:outputText style="font-weight: bold" value="*Password: " />
                    <p:password size="30" maxlength="15" 
                                feedback="true" match="confirmPassword"
                                id="password" value="#{registerMember.password}" 
                                required="true" requiredMessage="Password is required."/>
                    <p:message for="password" id="passwordMsg" />

                    <h:outputText style="font-weight: bold" value="*Confirm password: " />
                    <p:password size="30" feedback="false" id="confirmPassword"
                                required="true" requiredMessage="Confirm password is required.">  
                    </p:password> 
                    <p:message for="confirmPassword" id="confirmPasswordMsg" />
                    
                    <h:outputText style="font-weight: bold" value="*First name: " />
                    <p:inputText label="firstName" id="firstName" 
                                 value="#{registerMember.firstName}" 
                                 required="true" requiredMessage="First name is required." />
                    <p:message for="firstName" />
                    
                    <h:outputText style="font-weight: bold" value="*Last name: " />
                    <p:inputText label="lastName" id="lastName" 
                                 value="#{registerMember.lastName}" 
                                 required="true" requiredMessage="Last name is required." />
                    <p:message for="lastName" />
                    
                    <h:outputText style="font-weight: bold" value="*Gender: " />
                    <h:selectOneRadio label="gender" id="gender" 
                                      value="#{registerMember.gender}"
                                      required="true" requiredMessage="Gender is required.">
                        <f:selectItem itemLabel="Male"   itemValue="Male" />
                        <f:selectItem itemLabel="Female" itemValue="Female" />
                    </h:selectOneRadio>
                    <p:message for="gender" />
                    
                    <h:outputText style="font-weight: bold" value="Contact no.: " />
                    <h:panelGroup>
                        <h:outputText style="font-weight: normal" value="+ " />
                        <p:inputText label="countryCode" id="countryCode" 
                                     value="#{registerMember.countryCode}" size="3" />
                        <h:outputText style="font-weight: normal" value=" - " />
                        <p:inputText label="phone" id="phone"
                                     value="#{registerMember.phone}" size="10" />
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:message for="countryCode" /> 
                        <br />
                        <p:message for="phone" /> 
                    </h:panelGroup>
                </h:panelGrid>
                
                <p:spacer height="15" />
                
                <h:panelGrid columns="3">
                    <h:panelGroup>
                        <h:outputLabel for="agreeToTerms" style="font-weight: bold" value="*I agree with " />
                        <p:commandLink value="WineExpress's Terms and Conditions" onclick="termDlg.show();" />
                    </h:panelGroup>
                    <p:selectBooleanCheckbox id="agreeToTerms" itemLabel="Yes" value="#{registerMember.agreedToTerms}"
                                             validator="#{registerMember.validateTerms}" /> 
                    <p:message for="agreeToTerms" id="termMsg" />
                </h:panelGrid>
                
                <h:panelGrid columns="2">
                    <p:captcha id="captcha" validatorMessage="You have entered wrong words." secure="true" 
                               required="true" requiredMessage="Captcha is required." /> 
                    <p:message for="captcha" id="captchaMsg" />
                </h:panelGrid>
                    
                <h:panelGrid columns="3">
                    <p:button value="Cancel" outcome="index" />
                    <p:commandButton value="Confirm" ajax="false" update="infoGrid termMsg captchaMsg statusMsg" action="#{registerMember.register}" />
                    <p:messages id="statusMsg" escape="false" showDetail="true" showSummary="false" globalOnly="true" /> 
                </h:panelGrid>
            </p:panel>
        </h:form>
        
        <p:dialog width="700" height="500" modal="true" id="termDialog" header="WineExpress's Terms and Conditions" widgetVar="termDlg" >
            <h:form >
                <h:panelGroup style="font-size: medium">
                    <ui:include src="../static/TermsAndConditions.html" />
                </h:panelGroup>
                <div align="center">
                    <p:commandButton value="Accept" oncomplete="termDlg.hide();" update=":registerForm:agreeToTerms" >
                        <f:setPropertyActionListener target="#{registerMember.agreedToTerms}" value="#{true}" />
                    </p:commandButton>
                    <p:commandButton value="Do not agree" oncomplete="termDlg.hide();" update=":registerForm:agreeToTerms" >
                        <f:setPropertyActionListener target="#{registerMember.agreedToTerms}" value="#{false}" />
                    </p:commandButton>
                </div>
            </h:form>
        </p:dialog>
    </ui:define>

</ui:composition>
