<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        WineExpress - Search results
    </ui:define>

    <ui:define name="content">
        <style>
            #searchForm\:productCarousel {
                width:99%;
            }
            .price {
                float: right;
                font-size: 36px !important;
                font-weight: bold;
                line-height: 1;
            }
            .price sup {
                padding: 0 1px 0 0;
                font-size: 20px !important;
            }
            .col1 {
                width: 10%;
                margin: auto;
            }
            .col2 {
                width: 55%;
                padding-left: 10px;
            }
            .col3 {
                width:10%;
            }
        </style>
        
        <h:form id="searchForm" >
            <p:panel >
                <h:outputText style="font-weight:bold; font-size: large" value="Our products" />
                <p:separator />

                <h:panelGrid columns="2" >
                    <h:outputText style="font-weight: bold" value="Product type: " />
                    <h:selectOneMenu id="productType" binding="#{productType}" >
                        <f:ajax execute="@this" render="productCarousel" listener="#{searchBean.filterProductsByType(productType.value)}" />
                        <f:selectItem  itemLabel="All type" noSelectionOption="true" itemValue="-1" />
                        <f:selectItems value="#{commonInfo.productTypes}" var="pt" itemLabel="#{pt.name}" itemValue="#{pt.code}" />
                    </h:selectOneMenu>
                </h:panelGrid>
                
                <p:carousel id="productCarousel" value="#{searchBean.filteredProducts}" vertical="true" var="p" numVisible="3" circular="true" >
                    <p:panel header="#{p.name}" >
                        <h:panelGrid style="width: 100%;" columnClasses="col1, col2, col3"  columns="3" >
                            <p:graphicImage style="margin-left: 20px;" url="#{constants.SYSTEM_AMAZON_S3_BUCKET_LINK}#{constants.SYSTEM_AMAZON_S3_PHOTO_FOLDER}#{p.id}.png" width="40" height="130" />

                            #{p.description}

                            <h:panelGrid columns="1" style="float: right;" cellpadding="5">
                                <h:panelGroup styleClass="price">
                                    <sup>$</sup>
                                    <h:outputText value="#{p.price.intValue()}" >
                                        <f:convertNumber pattern="#0" />
                                    </h:outputText><sup>
                                        <h:outputText value="#{p.price - p.price.intValue()}" >
                                            <f:convertNumber pattern="#.00" />
                                        </h:outputText>
                                    </sup>
                                </h:panelGroup>

                                <h:panelGrid columns="1" style="text-align: center; margin-top: -15px; float: right;" >
                                    <p:rating value="#{(p.totalRating / p.numberOfReviewers).intValue()}" readonly="true" />
                                    <h:outputText value="(#{p.numberOfReviewers})" />
                                </h:panelGrid>

                                <h:panelGroup >
                                    <p:commandButton id="cartButton" style="float: right;" icon="ui-icon-cart" oncomplete="statusDlg.show();"
                                                     actionListener="#{userSession.addCartItem(p)}" update=":statusDialog :cartButton1 :cartButton2" />
                                    <p:tooltip for="cartButton" value="Add to cart!" />

                                    <p:button id="detailButton" style="float: right;" icon="ui-icon-search" outcome="ViewProduct" >
                                        <f:param name="productID" value="#{p.id}" />
                                    </p:button>
                                    <p:tooltip for="detailButton" value="View details" />
                                </h:panelGroup>
                            </h:panelGrid>
                        </h:panelGrid>
                    </p:panel>
                </p:carousel>
            </p:panel>
        </h:form>
        
        <p:dialog header="Status" width="550" modal="true" id="statusDialog" widgetVar="statusDlg" resizable="false" closable="false" >
            <h:panelGroup style="font-size: medium;">
                <p:messages id="statusMsg" escape="false" showDetail="true" showSummary="false" />
            </h:panelGroup>

            <div align="center">
                <p:button value="View cart" outcome="ViewCart" />
                <p:commandButton type="button" value="Continue shopping" onclick="statusDlg.hide();" />
            </div>
        </p:dialog>
    </ui:define>

</ui:composition>
