<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberAreaTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:fb="http://ogp.me/ns/fb#">
    
    <ui:define name="head">
        <meta property="fb:app_id" content="#{constants.SYSTEM_FACEBOOK_APP_ID}" />
    </ui:define>
    
    <ui:define name="title">
        WineExpress - Transaction history
    </ui:define>

    <ui:define name="content">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=#{constants.SYSTEM_FACEBOOK_APP_ID}";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        
        <h:form>
            <p:panel>
                <h:outputText style="font-weight:bold; font-size: large" value="Transaction history" />
                <p:separator />
                <br/><br/>
                
                <p:messages id="statusMsg" showDetail="true" showSummary="false" />
                
                <p:dataTable id="transactionTable" value="#{transactionManager.transactions}" var="t" 
                             paginator="true" rows="10" lazy="true" paginatorAlwaysVisible="false" >  
                    
                    <p:column style="width:2%">  
                        <p:rowToggler />  
                    </p:column>  
                    
                    <p:column headerText="PayPal" >
                        <h:outputText value="#{t.paypalID}" />
                    </p:column>
                    
                    <p:column headerText="Created date" >
                        <h:outputText value="#{t.createdDate}" >
                            <f:converter converterId="converter.longToDateMonthYearConverter" />
                        </h:outputText>
                    </p:column>
                    
                    <p:column headerText="Amount" >  
                        $<h:outputText value="#{t.totalAmount}" >
                            <f:convertNumber pattern="#,###.##" />
                        </h:outputText>
                    </p:column>
                    
                    <p:rowExpansion >
                        <p:dataTable var="i" value="#{t.transactionItems}" paginator="true" rows="5" paginatorAlwaysVisible="false" >
                            <f:facet name="header">  
                                Items
                            </f:facet>
                            
                            <p:column headerText="Name" >  
                                #{i.product.name}  
                            </p:column>
                            
                            <p:column headerText="Price" >  
                                $<h:outputText value="#{i.product.price}" >
                                    <f:convertNumber pattern="#,###.##" />
                                </h:outputText>
                            </p:column>
                            
                            <p:column style="width: 10%;" headerText="Quantity" >  
                                #{i.quantity}  
                            </p:column>
                            
                            <p:column style="width: 5%;" headerText="Rate" >  
                                <p:commandLink process="@this" update=":ratingDialog" oncomplete="FB.XFBML.parse();ratingDlg.show();" >
                                    <f:setPropertyActionListener target="#{transactionManager.transaction}" value="#{t}" />
                                    <f:setPropertyActionListener target="#{transactionManager.product}"     value="#{i.product}" />
                                    <f:setPropertyActionListener target="#{transactionManager.rating}"      value="0" />
                                    <h:outputText styleClass="ui-icon ui-icon-star" style="margin:0 auto;" /> 
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </p:panel>
            
            
        </h:form>
    </ui:define>

    <ui:define name="outside">
        <p:dialog width="600" height="460" modal="true" id="ratingDialog" widgetVar="ratingDlg" resizable="false" appendToBody="true" >
            <f:facet name="header" >
                #{transactionManager.product.name}
            </f:facet>
            
            <h:form id="ratingForm" >
                <h:panelGrid columns="3" id="ratingGrid" >
                    <h:outputText style="font-weight: bold" value="Your rating: " />
                    <p:rating value="#{transactionManager.rating}" cancel="false" >
                        <p:ajax event="rate" listener="#{transactionManager.rate}" update="statusMsg" />  
                    </p:rating>
                    <p:messages id="statusMsg" showDetail="true" showSummary="false" globalOnly="true" />
                </h:panelGrid>
            </h:form>
            
            <p:spacer height="10" />

            <fb:comments href="#{constants.SYSTEM_MEMBER_PATH}ViewProduct.xhtml?productID=#{transactionManager.product.id}" width="570" num_posts="2" ></fb:comments>
        </p:dialog>
    </ui:define>

</ui:composition>
