<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:fb="http://ogp.me/ns/fb#">

    <ui:define name="head">
        <meta property="fb:app_id" content="#{constants.SYSTEM_FACEBOOK_APP_ID}" />
    </ui:define>
    
    <ui:define name="title">
        <h:outputText rendered="#{not empty viewProduct.product}" value="WineExpress - #{viewProduct.product.name}" />
        <h:outputText rendered="#{empty viewProduct.product}" value="WineExpress - Error" />
    </ui:define>

    <ui:define name="content">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=#{constants.SYSTEM_FACEBOOK_APP_ID}";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        
        <style >
            .price {
                font-size: 36px !important;
                font-weight: bold;
                line-height: 1;
            }
            .price sup {
                padding: 0 1px 0 0;
                font-size: 20px !important;
            }
        </style>
        
        <h:form rendered="#{not empty viewProduct.product}" id="viewProductForm" >
            <p:panel >
                <h:panelGroup style="display:block; height: 280px;" >
                    <h:outputText style="font-weight:bold; font-size: large" value="#{viewProduct.product.name}" />
                    <p:separator />
                    <h:outputText value="#{viewProduct.brand.name}" /> |
                    <h:outputText value="#{viewProduct.region.name}" /> |
                    <h:outputText value="#{viewProduct.flavor.name}" />

                    <p:graphicImage style="float: right; margin: -55px 200px 0 0;" url="#{constants.SYSTEM_AMAZON_S3_BUCKET_LINK}#{constants.SYSTEM_AMAZON_S3_PHOTO_FOLDER}#{viewProduct.product.id}big.png" width="100" height="320" />

                    <br/><br/>

                    <h:panelGroup styleClass="price">
                        <sup>$</sup>
                        <h:outputText value="#{viewProduct.product.price.intValue()}" >
                            <f:convertNumber pattern="#0" />
                        </h:outputText><sup>
                            <h:outputText value="#{viewProduct.product.price - viewProduct.product.price.intValue()}" >
                                <f:convertNumber pattern="#.00" />
                            </h:outputText>
                        </sup>
                    </h:panelGroup>

                    <br/><br/>

                    <h:panelGroup style="display: block; width: 450px;">
                        <h:outputText value="#{viewProduct.product.description}" />
                    </h:panelGroup>
                    
                    <br/><br/>
                    
                    <p:commandButton id="cartButton" value="Add to cart" icon="ui-icon-cart" oncomplete="statusDlg.show();"
                                     actionListener="#{userSession.addCartItem(viewProduct.product)}" update=":statusDialog :cartButton1 :cartButton2" />
                    
                </h:panelGroup>
                
                <p:separator />
                
                <h:panelGrid columns="2" >
                    <h:panelGroup id="googleLikeButton" >
                        <div class="g-plusone" data-size="medium"></div>
                        <script type="text/javascript">
                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                          })();
                        </script>
                    </h:panelGroup>

                    <h:panelGroup style="margin-left: -20px;" >
                        <fb:like send="false" layout="button_count" width="450" show_faces="true" font="tahoma"></fb:like>
                    </h:panelGroup>
                </h:panelGrid>
                
                <p:spacer height="10" />
                
                <fb:comments href="#{constants.SYSTEM_APP_DOMAIN}#{originalURL}" width="800" num_posts="2" ></fb:comments>
            </p:panel>
            
            <p:growl id="growl" showDetail="true" globalOnly="true" />
        </h:form>
        
        <p:dialog header="Status" width="550" modal="true" id="statusDialog" widgetVar="statusDlg" resizable="false" closable="false" >
            <h:panelGroup style="font-size: medium;">
                <p:messages id="statusMsg" escape="false" showDetail="true" showSummary="false" />
            </h:panelGroup>

            <div align="center">
                <p:button value="View cart" outcome="ViewCart" />
                <p:commandButton type="button" value="Continue shopping" onclick="statusDlg.hide();" />
            </div>
        </p:dialog>
        
        <p:panel rendered="#{empty viewProduct.product}" >
            <p:messages showDetail="true" showSummary="false" />
            <div align="center" >
                <p:button value="OK" outcome="index" />
            </div>
        </p:panel>
    </ui:define>

</ui:composition>
