<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/MemberTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        WineExpress - View Cart
    </ui:define>

    <ui:define name="content">
        <style>
            .ui-datatable-footer {
                text-align: right !important;
            }
            .col1 {
                width: 70% !important;
            }
            .col2 {
                width: 7%;
            }
            .col3 {
                width: 7%;
            }
            .col4 {
                width: 7%;
            }
            .col5 {
                width: 7%;
            }
        </style>
        
        <p:panel >
            <h:form id="viewCartForm" >
                <h:outputText style="font-weight:bold; font-size: large" value="Your order" />
                <p:separator />
                
                <p:dataTable style="width: 100%;" id="cartTable" value="#{userSession.cart.items.toArray()}" var="item" 
                             paginator="true" paginatorAlwaysVisible="false" rows="7" emptyMessage="Your cart is empty." >
                    <p:column style="width: 68%;" headerText="Name" >
                        #{item.product.name}
                    </p:column>
                    
                    <p:column style="width: 10%;" headerText="Price" >
                        $ #{item.product.price}
                    </p:column>
                    
                    <p:column style="width: 7%;" headerText="Qty." >
                        <p:inputText value="#{item.quantity}" size="6" >
                            <f:validateLongRange minimum="1" />
                            <f:convertNumber pattern="#,###.##" />
                        </p:inputText>
                    </p:column>
                    
                    <p:column style="width: 10%;" headerText="Total" >
                        $<h:outputText value="#{item.totalCost}" >
                            <f:convertNumber pattern="#,###.##" />
                        </h:outputText>
                    </p:column>
                    
                    <p:column style="width: 5%;" headerText="Del" >
                        <p:commandLink process="@this" actionListener="#{userSession.cart.removeItem(item)}" update="cartTable :cartButton1 :cartButton2 :paypal" >
                            <h:outputText styleClass="ui-icon ui-icon-closethick" style="margin:0 auto;" /> 
                        </p:commandLink>
                    </p:column>
                    
                    <f:facet name="footer">  
                        <h:panelGroup >
                            Sub total:
                            $<h:outputText value="#{userSession.cart.totalCost}" >
                                <f:convertNumber pattern="#,###.##" />
                            </h:outputText>
                        </h:panelGroup>
                    </f:facet> 
                </p:dataTable>
                
                <p:spacer height="5" />
                
                <div align="right" >
                    <h:outputText rendered="#{empty userSession.us}" style="color: red;" value="**Please log in to check out." />
                    <h:outputText rendered="#{not empty userSession.us and empty profileManager.contactInfo.shippingAddress1}" style="color: red;" value="**Please update your shipping address to check out." />
                    
                    <h:panelGrid columns="2" >
                        <p:button value="Continue shopping" outcome="index" />
                        <p:commandButton process="@this, cartTable" value="Update cart" update="cartTable :paypal" />
                    </h:panelGrid>
                </div>
                
            </h:form>
            
            <p:spacer height="5" />

            <div align="right">
                <h:outputText id="paypal" rendered="#{not empty userSession.us and not empty profileManager.contactInfo.shippingAddress1}" escape="false" value="#{userSession.paypalButton}" />
            </div>
            
            <h:panelGroup rendered="#{not empty userSession.us}" >
                <h:outputText style="font-weight:bold; font-size: large" value="Shipping details" />
                <p:separator />

                <h:form id="shippingForm" >
                    <h:panelGrid id="shippingAddress" columns="3" >
                        <h:outputText style="font-weight: bold" value="Address: " />
                        <p:inputText id="shippingAddress1" size="30"
                                     required="true" requiredMessage="Shipping address is required."
                                     value="#{profileManager.contactInfo.shippingAddress1}" />
                        <p:message for="shippingAddress1" />

                        <h:outputText />
                        <p:inputText id="shippingAddress2" size="30"
                                     value="#{profileManager.contactInfo.shippingAddress2}" />
                        <h:outputText />

                        <h:outputText style="font-weight: bold" value="Country: " />
                        <h:selectOneMenu id="shippingCountry" 
                                         value="#{profileManager.contactInfo.shippingCountry}"
                                         required="true" requiredMessage="Shipping country is required." >
                            <f:selectItem noSelectionOption="true" itemLabel="#{l10n.choose_one}"></f:selectItem>
                            <f:selectItem itemValue="Afghanistan"   itemLabel="Afghanistan"></f:selectItem>
                            <f:selectItem itemValue="Aland Islands"   itemLabel="Aland Islands"></f:selectItem>
                            <f:selectItem itemValue="Albania"   itemLabel="Albania"></f:selectItem>
                            <f:selectItem itemValue="Algeria"   itemLabel="Algeria"></f:selectItem>
                            <f:selectItem itemValue="American Samoa"   itemLabel="American Samoa"></f:selectItem>
                            <f:selectItem itemValue="Andorra"   itemLabel="Andorra"></f:selectItem>
                            <f:selectItem itemValue="Angola"   itemLabel="Angola"></f:selectItem>
                            <f:selectItem itemValue="Anguilla"   itemLabel="Anguilla"></f:selectItem>
                            <f:selectItem itemValue="Antarctica"   itemLabel="Antarctica"></f:selectItem>
                            <f:selectItem itemValue="Antigua and Barbuda"   itemLabel="Antigua and Barbuda"></f:selectItem>
                            <f:selectItem itemValue="Argentina"   itemLabel="Argentina"></f:selectItem>
                            <f:selectItem itemValue="Armenia"   itemLabel="Armenia"></f:selectItem>
                            <f:selectItem itemValue="Aruba"   itemLabel="Aruba"></f:selectItem>
                            <f:selectItem itemValue="Australia"   itemLabel="Australia"></f:selectItem>
                            <f:selectItem itemValue="Austria"   itemLabel="Austria"></f:selectItem>
                            <f:selectItem itemValue="Azerbaijan"   itemLabel="Azerbaijan"></f:selectItem>
                            <f:selectItem itemValue="Bahamas"   itemLabel="Bahamas"></f:selectItem>
                            <f:selectItem itemValue="Bahrain"   itemLabel="Bahrain"></f:selectItem>
                            <f:selectItem itemValue="Bangladesh"   itemLabel="Bangladesh"></f:selectItem>
                            <f:selectItem itemValue="Barbados"   itemLabel="Barbados"></f:selectItem>
                            <f:selectItem itemValue="Belarus"   itemLabel="Belarus"></f:selectItem>
                            <f:selectItem itemValue="Belgium"   itemLabel="Belgium"></f:selectItem>
                            <f:selectItem itemValue="Belize"   itemLabel="Belize"></f:selectItem>
                            <f:selectItem itemValue="Benin"   itemLabel="Benin"></f:selectItem>
                            <f:selectItem itemValue="Bermuda"   itemLabel="Bermuda"></f:selectItem>
                            <f:selectItem itemValue="Bhutan"   itemLabel="Bhutan"></f:selectItem>
                            <f:selectItem itemValue="Bolivia"   itemLabel="Bolivia"></f:selectItem>
                            <f:selectItem itemValue="Bosnia and Herzegovina"   itemLabel="Bosnia and Herzegovina"></f:selectItem>
                            <f:selectItem itemValue="Botswana"   itemLabel="Botswana"></f:selectItem>
                            <f:selectItem itemValue="Bouvet Island"   itemLabel="Bouvet Island"></f:selectItem>
                            <f:selectItem itemValue="Brazil"   itemLabel="Brazil"></f:selectItem>
                            <f:selectItem itemValue="British Indian Ocean Territory"   itemLabel="British Indian Ocean Territory"></f:selectItem>
                            <f:selectItem itemValue="British Virgin Islands"   itemLabel="British Virgin Islands"></f:selectItem>
                            <f:selectItem itemValue="Brunei"   itemLabel="Brunei"></f:selectItem>
                            <f:selectItem itemValue="Bulgaria"   itemLabel="Bulgaria"></f:selectItem>
                            <f:selectItem itemValue="Burkina Faso"   itemLabel="Burkina Faso"></f:selectItem>
                            <f:selectItem itemValue="Burundi"   itemLabel="Burundi"></f:selectItem>
                            <f:selectItem itemValue="Cambodia"   itemLabel="Cambodia"></f:selectItem>
                            <f:selectItem itemValue="Cameroon"   itemLabel="Cameroon"></f:selectItem>
                            <f:selectItem itemValue="Canada"   itemLabel="Canada"></f:selectItem>
                            <f:selectItem itemValue="Cape Verde"   itemLabel="Cape Verde"></f:selectItem>
                            <f:selectItem itemValue="Cayman Islands"   itemLabel="Cayman Islands"></f:selectItem>
                            <f:selectItem itemValue="Central African Republic"   itemLabel="Central African Republic"></f:selectItem>
                            <f:selectItem itemValue="Chad"   itemLabel="Chad"></f:selectItem>
                            <f:selectItem itemValue="Chile"   itemLabel="Chile"></f:selectItem>
                            <f:selectItem itemValue="China"   itemLabel="China"></f:selectItem>
                            <f:selectItem itemValue="Christmas Island"   itemLabel="Christmas Island"></f:selectItem>
                            <f:selectItem itemValue="Cocos (Keeling) Islands"   itemLabel="Cocos (Keeling) Islands"></f:selectItem>
                            <f:selectItem itemValue="Colombia"   itemLabel="Colombia"></f:selectItem>
                            <f:selectItem itemValue="Comoros"   itemLabel="Comoros"></f:selectItem>
                            <f:selectItem itemValue="Congo"   itemLabel="Congo"></f:selectItem>
                            <f:selectItem itemValue="Cook Islands"   itemLabel="Cook Islands"></f:selectItem>
                            <f:selectItem itemValue="Costa Rica"   itemLabel="Costa Rica"></f:selectItem>
                            <f:selectItem itemValue="Croatia"   itemLabel="Croatia"></f:selectItem>
                            <f:selectItem itemValue="Cuba"   itemLabel="Cuba"></f:selectItem>
                            <f:selectItem itemValue="Cyprus"   itemLabel="Cyprus"></f:selectItem>
                            <f:selectItem itemValue="Czech Republic"   itemLabel="Czech Republic"></f:selectItem>
                            <f:selectItem itemValue="Democratic Republic of Congo"   itemLabel="Democratic Republic of Congo"></f:selectItem>
                            <f:selectItem itemValue="Denmark"   itemLabel="Denmark"></f:selectItem>
                            <f:selectItem itemValue="Disputed Territory"   itemLabel="Disputed Territory"></f:selectItem>
                            <f:selectItem itemValue="Djibouti"   itemLabel="Djibouti"></f:selectItem>
                            <f:selectItem itemValue="Dominica"   itemLabel="Dominica"></f:selectItem>
                            <f:selectItem itemValue="Dominican Republic"   itemLabel="Dominican Republic"></f:selectItem>
                            <f:selectItem itemValue="East Timor"   itemLabel="East Timor"></f:selectItem>
                            <f:selectItem itemValue="Ecuador"   itemLabel="Ecuador"></f:selectItem>
                            <f:selectItem itemValue="Egypt"   itemLabel="Egypt"></f:selectItem>
                            <f:selectItem itemValue="El Salvador"   itemLabel="El Salvador"></f:selectItem>
                            <f:selectItem itemValue="Equatorial Guinea"   itemLabel="Equatorial Guinea"></f:selectItem>
                            <f:selectItem itemValue="Eritrea"   itemLabel="Eritrea"></f:selectItem>
                            <f:selectItem itemValue="Estonia"   itemLabel="Estonia"></f:selectItem>
                            <f:selectItem itemValue="Ethiopia"   itemLabel="Ethiopia"></f:selectItem>
                            <f:selectItem itemValue="Falkland Islands"   itemLabel="Falkland Islands"></f:selectItem>
                            <f:selectItem itemValue="Faroe Islands"   itemLabel="Faroe Islands"></f:selectItem>
                            <f:selectItem itemValue="Federated States of Micronesia"   itemLabel="Federated States of Micronesia"></f:selectItem>
                            <f:selectItem itemValue="Fiji"   itemLabel="Fiji"></f:selectItem>
                            <f:selectItem itemValue="Finland"   itemLabel="Finland"></f:selectItem>
                            <f:selectItem itemValue="France"   itemLabel="France"></f:selectItem>
                            <f:selectItem itemValue="French Guyana"   itemLabel="French Guyana"></f:selectItem>
                            <f:selectItem itemValue="French Polynesia"   itemLabel="French Polynesia"></f:selectItem>
                            <f:selectItem itemValue="French Southern Territories"   itemLabel="French Southern Territories"></f:selectItem>
                            <f:selectItem itemValue="Gabon"   itemLabel="Gabon"></f:selectItem>
                            <f:selectItem itemValue="Gambia"   itemLabel="Gambia"></f:selectItem>
                            <f:selectItem itemValue="Georgia"   itemLabel="Georgia"></f:selectItem>
                            <f:selectItem itemValue="Germany"   itemLabel="Germany"></f:selectItem>
                            <f:selectItem itemValue="Ghana"   itemLabel="Ghana"></f:selectItem>
                            <f:selectItem itemValue="Gibraltar"   itemLabel="Gibraltar"></f:selectItem>
                            <f:selectItem itemValue="Greece"   itemLabel="Greece"></f:selectItem>
                            <f:selectItem itemValue="Greenland"   itemLabel="Greenland"></f:selectItem>
                            <f:selectItem itemValue="Grenada"   itemLabel="Grenada"></f:selectItem>
                            <f:selectItem itemValue="Guadeloupe"   itemLabel="Guadeloupe"></f:selectItem>
                            <f:selectItem itemValue="Guam"   itemLabel="Guam"></f:selectItem>
                            <f:selectItem itemValue="Guatemala"   itemLabel="Guatemala"></f:selectItem>
                            <f:selectItem itemValue="Guinea-Bissau"   itemLabel="Guinea-Bissau"></f:selectItem>
                            <f:selectItem itemValue="Guyana"   itemLabel="Guyana"></f:selectItem>
                            <f:selectItem itemValue="Haiti"   itemLabel="Haiti"></f:selectItem>
                            <f:selectItem itemValue="Heard Island and Mcdonald Islands"   itemLabel="Heard Island and Mcdonald Islands"></f:selectItem>
                            <f:selectItem itemValue="Honduras"   itemLabel="Honduras"></f:selectItem>
                            <f:selectItem itemValue="Hong Kong"   itemLabel="Hong Kong"></f:selectItem>
                            <f:selectItem itemValue="Hungary"   itemLabel="Hungary"></f:selectItem>
                            <f:selectItem itemValue="Iceland"   itemLabel="Iceland"></f:selectItem>
                            <f:selectItem itemValue="India"   itemLabel="India"></f:selectItem>
                            <f:selectItem itemValue="Indonesia"   itemLabel="Indonesia"></f:selectItem>
                            <f:selectItem itemValue="Iran"   itemLabel="Iran"></f:selectItem>
                            <f:selectItem itemValue="Iraq"   itemLabel="Iraq"></f:selectItem>
                            <f:selectItem itemValue="Iraq-Saudi Arabia Neutral Zone"   itemLabel="Iraq-Saudi Arabia Neutral Zone"></f:selectItem>
                            <f:selectItem itemValue="Ireland"   itemLabel="Ireland"></f:selectItem>
                            <f:selectItem itemValue="Israel"   itemLabel="Israel"></f:selectItem>
                            <f:selectItem itemValue="Italy"   itemLabel="Italy"></f:selectItem>
                            <f:selectItem itemValue="Ivory Coast"   itemLabel="Ivory Coast"></f:selectItem>
                            <f:selectItem itemValue="Jamaica"   itemLabel="Jamaica"></f:selectItem>
                            <f:selectItem itemValue="Japan"   itemLabel="Japan"></f:selectItem>
                            <f:selectItem itemValue="Jordan"   itemLabel="Jordan"></f:selectItem>
                            <f:selectItem itemValue="Kazakhstan"   itemLabel="Kazakhstan"></f:selectItem>
                            <f:selectItem itemValue="Kenya"   itemLabel="Kenya"></f:selectItem>
                            <f:selectItem itemValue="Kiribati"   itemLabel="Kiribati"></f:selectItem>
                            <f:selectItem itemValue="Kuwait"   itemLabel="Kuwait"></f:selectItem>
                            <f:selectItem itemValue="Kyrgyzstan"   itemLabel="Kyrgyzstan"></f:selectItem>
                            <f:selectItem itemValue="Laos"   itemLabel="Laos"></f:selectItem>
                            <f:selectItem itemValue="Latvia"   itemLabel="Latvia"></f:selectItem>
                            <f:selectItem itemValue="Lebanon"   itemLabel="Lebanon"></f:selectItem>
                            <f:selectItem itemValue="Lesotho"   itemLabel="Lesotho"></f:selectItem>
                            <f:selectItem itemValue="Liberia"   itemLabel="Liberia"></f:selectItem>
                            <f:selectItem itemValue="Libya"   itemLabel="Libya"></f:selectItem>
                            <f:selectItem itemValue="Liechtenstein"   itemLabel="Liechtenstein"></f:selectItem>
                            <f:selectItem itemValue="Lithuania"   itemLabel="Lithuania"></f:selectItem>
                            <f:selectItem itemValue="Luxembourg"   itemLabel="Luxembourg"></f:selectItem>
                            <f:selectItem itemValue="Macau"   itemLabel="Macau"></f:selectItem>
                            <f:selectItem itemValue="Macedonia"   itemLabel="Macedonia"></f:selectItem>
                            <f:selectItem itemValue="Madagascar"   itemLabel="Madagascar"></f:selectItem>
                            <f:selectItem itemValue="Malawi"   itemLabel="Malawi"></f:selectItem>
                            <f:selectItem itemValue="Malaysia"   itemLabel="Malaysia"></f:selectItem>
                            <f:selectItem itemValue="Maldives"   itemLabel="Maldives"></f:selectItem>
                            <f:selectItem itemValue="Mali"   itemLabel="Mali"></f:selectItem>
                            <f:selectItem itemValue="Malta"   itemLabel="Malta"></f:selectItem>
                            <f:selectItem itemValue="Marshall Islands"   itemLabel="Marshall Islands"></f:selectItem>
                            <f:selectItem itemValue="Martinique"   itemLabel="Martinique"></f:selectItem>
                            <f:selectItem itemValue="Mauritania"   itemLabel="Mauritania"></f:selectItem>
                            <f:selectItem itemValue="Mauritius"   itemLabel="Mauritius"></f:selectItem>
                            <f:selectItem itemValue="Mayotte"   itemLabel="Mayotte"></f:selectItem>
                            <f:selectItem itemValue="Mexico"   itemLabel="Mexico"></f:selectItem>
                            <f:selectItem itemValue="Moldova"   itemLabel="Moldova"></f:selectItem>
                            <f:selectItem itemValue="Monaco"   itemLabel="Monaco"></f:selectItem>
                            <f:selectItem itemValue="Mongolia"   itemLabel="Mongolia"></f:selectItem>
                            <f:selectItem itemValue="Montserrat"   itemLabel="Montserrat"></f:selectItem>
                            <f:selectItem itemValue="Morocco"   itemLabel="Morocco"></f:selectItem>
                            <f:selectItem itemValue="Mozambique"   itemLabel="Mozambique"></f:selectItem>
                            <f:selectItem itemValue="Myanmar"   itemLabel="Myanmar"></f:selectItem>
                            <f:selectItem itemValue="Namibia"   itemLabel="Namibia"></f:selectItem>
                            <f:selectItem itemValue="Nauru"   itemLabel="Nauru"></f:selectItem>
                            <f:selectItem itemValue="Nepal"   itemLabel="Nepal"></f:selectItem>
                            <f:selectItem itemValue="Netherlands"   itemLabel="Netherlands"></f:selectItem>
                            <f:selectItem itemValue="Netherlands Antilles"   itemLabel="Netherlands Antilles"></f:selectItem>
                            <f:selectItem itemValue="New Caledonia"   itemLabel="New Caledonia"></f:selectItem>
                            <f:selectItem itemValue="New Zealand"   itemLabel="New Zealand"></f:selectItem>
                            <f:selectItem itemValue="Nicaragua"   itemLabel="Nicaragua"></f:selectItem>
                            <f:selectItem itemValue="Niger"   itemLabel="Niger"></f:selectItem>
                            <f:selectItem itemValue="Nigeria"   itemLabel="Nigeria"></f:selectItem>
                            <f:selectItem itemValue="Niue"   itemLabel="Niue"></f:selectItem>
                            <f:selectItem itemValue="Norfolk Island"   itemLabel="Norfolk Island"></f:selectItem>
                            <f:selectItem itemValue="North Korea"   itemLabel="North Korea"></f:selectItem>
                            <f:selectItem itemValue="Northern Mariana Islands"   itemLabel="Northern Mariana Islands"></f:selectItem>
                            <f:selectItem itemValue="Norway"   itemLabel="Norway"></f:selectItem>
                            <f:selectItem itemValue="Oman"   itemLabel="Oman"></f:selectItem>
                            <f:selectItem itemValue="Pakistan"   itemLabel="Pakistan"></f:selectItem>
                            <f:selectItem itemValue="Palau"   itemLabel="Palau"></f:selectItem>
                            <f:selectItem itemValue="Palestinian Territories"   itemLabel="Palestinian Territories"></f:selectItem>
                            <f:selectItem itemValue="Panama"   itemLabel="Panama"></f:selectItem>
                            <f:selectItem itemValue="Papua New Guinea"   itemLabel="Papua New Guinea"></f:selectItem>
                            <f:selectItem itemValue="Paraguay"   itemLabel="Paraguay"></f:selectItem>
                            <f:selectItem itemValue="Peru"   itemLabel="Peru"></f:selectItem>
                            <f:selectItem itemValue="Philippines"   itemLabel="Philippines"></f:selectItem>
                            <f:selectItem itemValue="Pitcairn Islands"   itemLabel="Pitcairn Islands"></f:selectItem>
                            <f:selectItem itemValue="Poland"   itemLabel="Poland"></f:selectItem>
                            <f:selectItem itemValue="Portugal"   itemLabel="Portugal"></f:selectItem>
                            <f:selectItem itemValue="Puerto Rico"   itemLabel="Puerto Rico"></f:selectItem>
                            <f:selectItem itemValue="Qatar"   itemLabel="Qatar"></f:selectItem>
                            <f:selectItem itemValue="Reunion"   itemLabel="Reunion"></f:selectItem>
                            <f:selectItem itemValue="Romania"   itemLabel="Romania"></f:selectItem>
                            <f:selectItem itemValue="Russia"   itemLabel="Russia"></f:selectItem>
                            <f:selectItem itemValue="Rwanda"   itemLabel="Rwanda"></f:selectItem>
                            <f:selectItem itemValue="Saint Helena and Dependencies"   itemLabel="Saint Helena and Dependencies"></f:selectItem>
                            <f:selectItem itemValue="Saint Kitts and Nevis"   itemLabel="Saint Kitts and Nevis"></f:selectItem>
                            <f:selectItem itemValue="Saint Lucia"   itemLabel="Saint Lucia"></f:selectItem>
                            <f:selectItem itemValue="Saint Pierre and Miquelon"   itemLabel="Saint Pierre and Miquelon"></f:selectItem>
                            <f:selectItem itemValue="Saint Vincent and the Grenadines"   itemLabel="Saint Vincent and the Grenadines"></f:selectItem>
                            <f:selectItem itemValue="Samoa"   itemLabel="Samoa"></f:selectItem>
                            <f:selectItem itemValue="San Marino"   itemLabel="San Marino"></f:selectItem>
                            <f:selectItem itemValue="Sao Tome and Principe"   itemLabel="Sao Tome and Principe"></f:selectItem>
                            <f:selectItem itemValue="Saudi Arabia"   itemLabel="Saudi Arabia"></f:selectItem>
                            <f:selectItem itemValue="Senegal"   itemLabel="Senegal"></f:selectItem>
                            <f:selectItem itemValue="Seychelles"   itemLabel="Seychelles"></f:selectItem>
                            <f:selectItem itemValue="Sierra Leone"   itemLabel="Sierra Leone"></f:selectItem>
                            <f:selectItem itemValue="Singapore"   itemLabel="Singapore"></f:selectItem>
                            <f:selectItem itemValue="Slovakia"   itemLabel="Slovakia"></f:selectItem>
                            <f:selectItem itemValue="Slovenia"   itemLabel="Slovenia"></f:selectItem>
                            <f:selectItem itemValue="Solomon Islands"   itemLabel="Solomon Islands"></f:selectItem>
                            <f:selectItem itemValue="Somalia"   itemLabel="Somalia"></f:selectItem>
                            <f:selectItem itemValue="South Africa"   itemLabel="South Africa"></f:selectItem>
                            <f:selectItem itemValue="South Georgia and South Sandwich Islands"   itemLabel="South Georgia and South Sandwich Islands"></f:selectItem>
                            <f:selectItem itemValue="South Korea"   itemLabel="South Korea"></f:selectItem>
                            <f:selectItem itemValue="Spain"   itemLabel="Spain"></f:selectItem>
                            <f:selectItem itemValue="Spratly Islands"   itemLabel="Spratly Islands"></f:selectItem>
                            <f:selectItem itemValue="Sri Lanka"   itemLabel="Sri Lanka"></f:selectItem>
                            <f:selectItem itemValue="Sudan"   itemLabel="Sudan"></f:selectItem>
                            <f:selectItem itemValue="Suriname"   itemLabel="Suriname"></f:selectItem>
                            <f:selectItem itemValue="Svalbard and Jan Mayen"   itemLabel="Svalbard and Jan Mayen"></f:selectItem>
                            <f:selectItem itemValue="Swaziland"   itemLabel="Swaziland"></f:selectItem>
                            <f:selectItem itemValue="Sweden"   itemLabel="Sweden"></f:selectItem>
                            <f:selectItem itemValue="Switzerland"   itemLabel="Switzerland"></f:selectItem>
                            <f:selectItem itemValue="Syria"   itemLabel="Syria"></f:selectItem>
                            <f:selectItem itemValue="Taiwan"   itemLabel="Taiwan"></f:selectItem>
                            <f:selectItem itemValue="Tajikistan"   itemLabel="Tajikistan"></f:selectItem>
                            <f:selectItem itemValue="Tanzania"   itemLabel="Tanzania"></f:selectItem>
                            <f:selectItem itemValue="Thailand"   itemLabel="Thailand"></f:selectItem>
                            <f:selectItem itemValue="Togo"   itemLabel="Togo"></f:selectItem>
                            <f:selectItem itemValue="Tokelau"   itemLabel="Tokelau"></f:selectItem>
                            <f:selectItem itemValue="Tonga"   itemLabel="Tonga"></f:selectItem>
                            <f:selectItem itemValue="Trinidad and Tobago"   itemLabel="Trinidad and Tobago"></f:selectItem>
                            <f:selectItem itemValue="Tunisia"   itemLabel="Tunisia"></f:selectItem>
                            <f:selectItem itemValue="Turkey"   itemLabel="Turkey"></f:selectItem>
                            <f:selectItem itemValue="Turkmenistan"   itemLabel="Turkmenistan"></f:selectItem>
                            <f:selectItem itemValue="Turks And Caicos Islands"   itemLabel="Turks And Caicos Islands"></f:selectItem>
                            <f:selectItem itemValue="Tuvalu"   itemLabel="Tuvalu"></f:selectItem>
                            <f:selectItem itemValue="Uganda"   itemLabel="Uganda"></f:selectItem>
                            <f:selectItem itemValue="Ukraine"   itemLabel="Ukraine"></f:selectItem>
                            <f:selectItem itemValue="United Arab Emirates"   itemLabel="United Arab Emirates"></f:selectItem>
                            <f:selectItem itemValue="United Kingdom"   itemLabel="United Kingdom"></f:selectItem>
                            <f:selectItem itemValue="United States"   itemLabel="United States"></f:selectItem>
                            <f:selectItem itemValue="United States Minor Outlying Islands"   itemLabel="United States Minor Outlying Islands"></f:selectItem>
                            <f:selectItem itemValue="Uruguay"   itemLabel="Uruguay"></f:selectItem>
                            <f:selectItem itemValue="US Virgin Islands"   itemLabel="US Virgin Islands"></f:selectItem>
                            <f:selectItem itemValue="Uzbekistan"   itemLabel="Uzbekistan"></f:selectItem>
                            <f:selectItem itemValue="Vanuatu"   itemLabel="Vanuatu"></f:selectItem>
                            <f:selectItem itemValue="Vatican City"   itemLabel="Vatican City"></f:selectItem>
                            <f:selectItem itemValue="Venezuela"   itemLabel="Venezuela"></f:selectItem>
                            <f:selectItem itemValue="Vietnam"   itemLabel="Vietnam"></f:selectItem>
                            <f:selectItem itemValue="Wallis and Futuna"   itemLabel="Wallis and Futuna"></f:selectItem>
                            <f:selectItem itemValue="Western Sahara"   itemLabel="Western Sahara"></f:selectItem>
                            <f:selectItem itemValue="Yemen"   itemLabel="Yemen"></f:selectItem>
                            <f:selectItem itemValue="Zambia"   itemLabel="Zambia"></f:selectItem>
                            <f:selectItem itemValue="Zimbabwe"   itemLabel="Zimbabwe"></f:selectItem>
                            <f:selectItem itemValue="Serbia"   itemLabel="Serbia"></f:selectItem>
                            <f:selectItem itemValue="Montenegro"   itemLabel="Montenegro"></f:selectItem>
                        </h:selectOneMenu>
                        <p:message for="shippingCountry" />

                        <h:outputText style="font-weight: bold" value="Zip code: " />
                        <p:inputText id="shippingZipcode" size="10"
                                     value="#{profileManager.contactInfo.shippingZipCode}" >
                            <f:convertNumber integerOnly="true" />
                        </p:inputText>
                        <p:message for="shippingZipcode" />
                    </h:panelGrid>

                    <h:panelGrid columns="2" >
                        <p:commandButton value="Update" actionListener="#{profileManager.updateContactInfo}" 
                                         update="shippingAddress statusMsg" />
                        <p:messages id="statusMsg" escape="false" showDetail="true" showSummary="false" />
                    </h:panelGrid>
                </h:form>
            </h:panelGroup>
        </p:panel>
    </ui:define>

</ui:composition>
