<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" >
    <h:form>
        <p:menubar>
            <p:menuitem value="Your corner" icon="ui-icon ui-icon-lightbulb" url="#{constants.SYSTEM_ADMIN_PATH}AdminArea.xhtml" />

            <p:submenu label="Account" icon="ui-icon ui-icon-person">
                <p:menuitem value="Profile"  url="#{constants.SYSTEM_MEMBER_PATH}Profile.xhtml" />
                <p:menuitem value="Settings" url="#{constants.SYSTEM_MEMBER_SSL_PATH}AccountSettings.xhtml" />
            </p:submenu>

            <p:submenu rendered="#{userSession.us.isAdmin}" label="Admin" icon="ui-icon ui-icon-key" >
                <p:menuitem value="Register admin"      url="#{constants.SYSTEM_ADMIN_PATH}RegisterAdmin.xhtml"  />
                <p:menuitem value="User manager"        url="#{constants.SYSTEM_ADMIN_PATH}UserManagement.xhtml" />
                <p:menuitem value="Notification center" url="#{constants.SYSTEM_ADMIN_PATH}SendNotification.xhtml" />
                
                <p:submenu label="Product management" >
                    <p:menuitem value="Create category"  url="#{constants.SYSTEM_ADMIN_PATH}CreateCategory.xhtml"  />
                    <p:menuitem value="Category manager" url="#{constants.SYSTEM_ADMIN_PATH}ManageCategories.xhtml"  />
                    <p:menuitem value="Create product"   url="#{constants.SYSTEM_ADMIN_PATH}CreateProduct.xhtml"  />
                    <p:menuitem value="Product manager"  url="#{constants.SYSTEM_ADMIN_PATH}ManageProducts.xhtml"  />
                </p:submenu>
                
                <p:submenu label="Report" >
                    <p:menuitem value="Sales report"    url="#{constants.SYSTEM_ADMIN_PATH}SalesReport.xhtml"  />
                    <p:menuitem value="Google analytic" url="#{constants.SYSTEM_ADMIN_PATH}GoogleAnalytic.xhtml"  />
                </p:submenu>
                
            </p:submenu>

            <p:menuitem value="Sign out" icon="ui-icon ui-icon-closethick" actionListener="#{loginBean.logOut}" />
        </p:menubar> 
    </h:form>
</html>