<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <f:view>
<!--        <ui:param name="originalURL" value="{request.requestURI}?{request.queryString}" />
        
        <f:metadata>
            <f:event rendered="{empty userSession.us}" type="preRenderView" listener="{userSession.setOriginalURL(originalURL)}" />
        </f:metadata>-->
        
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link href="./../resources/css/default.css" rel="stylesheet" type="text/css" />
            <link href="./../resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
            <title>
                <ui:insert name="title">Title</ui:insert>
            </title>
        </h:head>

        <h:body>
            <style>
                #signInPanel_content {
                    height: 50px !important;
                    margin-top: -7px;
                }
            </style>
            
            <div id="top" class="top">
                <p:panel id="signInPanel" >
                    <h:panelGroup rendered="#{empty userSession.us}" >
                        <form style="padding-top: 10px; width:90%;" action="#{constants.SYSTEM_MEMBER_SSL_PATH}LoginStatus.xhtml" method="post" >
                            <h:panelGrid columns="4">
                                <h:panelGroup >

                                    <h:outputText style="font-weight: normal" value="Email: " />
                                    <input id="email" name="email" type="text" size="20" />

                                    <p:spacer height="10" width="20" />

                                    <h:outputText style="font-weight: normal" value="Password: " />
                                    <input id="password" name="password" type="password" size="20" />

                                </h:panelGroup>

                                <h:panelGroup style="margin-left: 20px;">
                                    <input type="image" src="../javax.faces.resource/button-login.png.xhtml?ln=common/images/" alt="Sign in" />
                                </h:panelGroup>
                            </h:panelGrid>

                        </form>
                        
                        <h:form style="margin-left: 540px; margin-top: -45px;" >
                            <p:commandLink id="facebook" action="#{userSession.socialConnect}" >
                                <f:setPropertyActionListener target="#{userSession.providerID}"  value="facebook" />
                                <h:graphicImage style="margin-top: 16px;" library="common" name="images/fbconnect.png" height="30" width="200" />
                            </p:commandLink>
                        </h:form>

                        <p:button id="cartButton1" style="float:right; margin-top: -33px; margin-right: 192px;" icon="ui-icon-cart" value="(#{userSession.cart.items.size()})" outcome="ViewCart" />
                        
                        <p:button style="float:right; margin-top: -33px; margin-right: 105px;" value="Register" outcome="RegisterAccount" />
                        
                        <p:button style="float:right; margin-top: -33px; " value="Contact Us" outcome="Contact" />
                    </h:panelGroup>

                    <h:panelGroup rendered="${not empty userSession.us}">
                        <style type="text/css">
                            .colStyle1 { 
                                width: 5%;
                            }
                            .colStyle2 { 
                                width: 25%;
                            }
                            .colStyle3 {
                                padding-right: 50px;
                            }
                        </style>

                        <h:form>
                            <h:panelGrid style="padding-top: 10px; padding-bottom: 10px" columnClasses="colStyle1, colStyle2, colStyle3" width="100%" columns="3" >
                                
                                <h:panelGroup>
                                    <h:graphicImage style="margin-top: -4px;" rendered="#{not empty userSession.us.profileImageURL}" value="#{userSession.us.profileImageURL}" width="40" height="40" />
                                </h:panelGroup>
                                
                                <h:outputText value="Hello, #{userSession.us.firstName}" />

                                <h:panelGroup >
                                    <p:commandButton rendered="#{userSession.socialLogin}" style="float: right; margin-right: 122px;" value="Log out" actionListener="#{userSession.logOut}" />
                                    <p:commandButton rendered="#{not userSession.socialLogin}" style="float: right; margin-right: 122px;" value="Log out" actionListener="#{loginBean.logOut}" />

                                    <p:button style="float: right; margin-right: 7px;" rendered="#{userSession.us.isAdmin}" value="Admin area" outcome="../admin/AdminArea.xhtml" />

                                    <p:button style="float: right; margin-right: 7px;" rendered="#{not userSession.us.isAdmin}" value="Member area" outcome="MemberArea" />
                                </h:panelGroup>
                            </h:panelGrid>
                        </h:form>
                        
                        <p:button id="cartButton2" style="float:right; margin-top: -46px; margin-right: 105px;" icon="ui-icon-cart" value="(#{userSession.cart.items.size()})" outcome="ViewCart" />
                        
                        <p:button style="float:right; margin-top: -46px;" value="Contact Us" outcome="Contact" />
                    </h:panelGroup>
                </p:panel>
            </div>

            <div id="content" class="center_content">
                <p:panel >
                    <ui:insert name="content">Content</ui:insert>
                </p:panel>
            </div>

        </h:body>
    </f:view>
</html>
