<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://java.sun.com/jsf/core">
    <f:view contentType="text/html">
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet library="member/css/" name="memberArea.css" />

            <title>
                <ui:insert name="title"></ui:insert>
            </title>
        </h:head>

        <h:body>
            <!-- Google analytic - START -->

            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-40139811-1', 'amazonaws.com');
              ga('send', 'pageview');

            </script>

            <!-- Google analytic - END -->

            <div id="container">
                <h:panelGroup rendered="#{not userSession.us.isAdmin}">
                    <ui:include src="MemberTopMenu.xhtml" />
                </h:panelGroup>

                <h:panelGroup rendered="#{userSession.us.isAdmin}" >
                    <ui:include src="AdminTopMenu.xhtml" />
                </h:panelGroup>

                <h:outputLink value="#{constants.SYSTEM_MEMBER_PATH}index.xhtml" >
                    <h:graphicImage library="common" name="images/logo.png" width="200" height="120" alt="logo" />
                </h:outputLink>

                <p:layout style="height: 590px" >
                    <p:layoutUnit position="center" style="padding: 5px" >  
                        <ui:insert name="content"></ui:insert>
                    </p:layoutUnit>
                </p:layout> 

                <ui:insert name="outside"></ui:insert>

                <div class="footer">
                    <p style="text-align: center;">
                        <h:outputLink value="#{constants.SYSTEM_MEMBER_PATH}index.xhtml" >Home</h:outputLink> | <h:outputLink value="#{constants.SYSTEM_MEMBER_PATH}Contact.xhtml" >Contact Us</h:outputLink>
                    </p>
                </div>

            </div>

        </h:body>
    </f:view>
</html>