<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <f:view contentType="text/html">
        <ui:param name="originalURL" value="#{request.requestURI}?#{request.queryString}" />
        
        <f:metadata>
            <f:event rendered="#{empty userSession.us}" type="preRenderView" listener="#{userSession.setOriginalURL(originalURL)}" />
        </f:metadata>
        
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link href="./../resources/css/default.css" rel="stylesheet" type="text/css" />
            <link href="./../resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
            <ui:insert name="head" />
            <title>
                <ui:insert name="title">Title</ui:insert>
            </title>
        </h:head>

        <h:body>
            
            <!-- Google analytic - START -->
            
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-40139811-1', 'amazonaws.com');
              ga('send', 'pageview');

            </script>
            
            <!-- Google analytic - END -->
            
            <style>
                #signInPanel_content {
                    height: 50px !important;
                    margin-top: -7px;
                }
            </style>
            
            <div id="top" class="top">
                <p:panel id="signInPanel" >
                    <h:panelGroup rendered="#{empty userSession.us}" >
                        <form style="padding-top: 10px; width:90%;" action="#{constants.SYSTEM_MEMBER_SSL_PATH}LoginStatus.xhtml" method="post" >
                            <h:panelGrid columns="4">
                                <h:panelGroup >

                                    <h:outputText style="font-weight: normal" value="Email: " />
                                    <input id="email" name="email" type="text" size="20" />

                                    <p:spacer height="10" width="20" />

                                    <h:outputText style="font-weight: normal" value="Password: " />
                                    <input id="password" name="password" type="password" size="20" />

                                </h:panelGroup>

                                <h:panelGroup style="margin-left: 20px;">
                                    <input type="image" src="../javax.faces.resource/button-login.png.xhtml?ln=common/images/" alt="Sign in" />
                                </h:panelGroup>
                            </h:panelGrid>

                        </form>
                        
                        <h:form style="margin-left: 540px; margin-top: -45px;" >
                            <p:commandLink id="facebook" action="#{userSession.socialConnect}" >
                                <f:setPropertyActionListener target="#{userSession.providerID}"  value="facebook" />
                                <h:graphicImage style="margin-top: 16px;" library="common" name="images/fbconnect.png" height="30" width="200" />
                            </p:commandLink>
                        </h:form>

                        <p:button id="cartButton1" style="float:right; margin-top: -33px; margin-right: 192px;" icon="ui-icon-cart" value="(#{userSession.cart.items.size()})" outcome="ViewCart" />
                        
                        <p:button style="float:right; margin-top: -33px; margin-right: 105px;" value="Register" outcome="RegisterAccount" />
                        
                        <p:button style="float:right; margin-top: -33px; " value="Contact Us" outcome="Contact" />
                    </h:panelGroup>

                    <h:panelGroup rendered="${not empty userSession.us}">
                        <style type="text/css">
                            .colStyle1 { 
                                width: 5%;
                            }
                            .colStyle2 { 
                                width: 25%;
                            }
                            .colStyle3 {
                                padding-right: 50px;
                            }
                        </style>

                        <h:form>
                            <h:panelGrid style="padding-top: 10px; padding-bottom: 10px" columnClasses="colStyle1, colStyle2, colStyle3" width="100%" columns="3" >
                                
                                <h:panelGroup>
                                    <h:graphicImage style="margin-top: -4px;" rendered="#{not empty userSession.us.profileImageURL}" value="#{userSession.us.profileImageURL}" width="40" height="40" />
                                </h:panelGroup>
                                
                                <h:outputText value="Hello, #{userSession.us.firstName}" />

                                <h:panelGroup >
                                    <p:commandButton rendered="#{userSession.socialLogin}" style="float: right; margin-right: 122px;" value="Log out" actionListener="#{userSession.logOut}" />
                                    <p:commandButton rendered="#{not userSession.socialLogin}" style="float: right; margin-right: 122px;" value="Log out" actionListener="#{loginBean.logOut}" />

                                    <p:button style="float: right; margin-right: 7px;" rendered="#{userSession.us.isAdmin}" value="Admin area" outcome="../admin/AdminArea.xhtml" />

                                    <p:button style="float: right; margin-right: 7px;" rendered="#{not userSession.us.isAdmin}" value="Member area" outcome="MemberArea" />
                                </h:panelGroup>
                            </h:panelGrid>
                        </h:form>
                        
                        <p:button id="cartButton2" style="float:right; margin-top: -46px; margin-right: 105px;" icon="ui-icon-cart" value="(#{userSession.cart.items.size()})" outcome="ViewCart" />
                        
                        <p:button style="float:right; margin-top: -46px;" value="Contact Us" outcome="Contact" />
                    </h:panelGroup>
                </p:panel>
            </div>

            <div>
                <div id="left">
                    <p:panel>
                        <h:outputLink value="#{constants.SYSTEM_MEMBER_PATH}index.xhtml" >
                            <h:graphicImage style="border-style: ridge;" library="common" name="images/logo.png" width="160" height="110" alt="logo" />
                        </h:outputLink>
                    </p:panel>

                    <p:spacer height="10" />

                    <ui:insert name="left">
                        <h:form>
                            <p:accordionPanel>
                                <p:tab title="SEARCH FOR A WINE">
                                    <h:panelGroup style="margin-left: -10px; margin-right: -10px;">
                                        <p:inputText id="keyWord" binding="#{keyWord}" size="15" />
                                        <p:commandButton actionListener="#{userSession.search(keyWord.value)}" value="Find" />
                                    </h:panelGroup>
                                    <p:watermark for="keyWord" value="Item name, etc." />
                                </p:tab>

                                <p:tab title="BROWSE WINE">
                                    <h:panelGrid style="margin-left: -10px; margin-right: -10px;" columns="1" >
                                        <p:selectOneMenu binding="#{brand}" style="width:160px;" label="Brand" filter="true" filterMatchMode="startsWith" >
                                            <f:selectItem noSelectionOption="true" itemLabel="Brand" itemValue="#{null}" />
                                            <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_BRAND)}"
                                                           var="b" itemLabel="#{b.name}" itemValue="#{b.id}" />
                                        </p:selectOneMenu>
                                        
                                        <p:selectOneMenu binding="#{region}" style="width:160px;" label="Region" filter="true" filterMatchMode="startsWith" >
                                            <f:selectItem noSelectionOption="true" itemLabel="Region" itemValue="#{null}" />
                                            <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_REGION)}"
                                                           var="r" itemLabel="#{r.name}" itemValue="#{r.id}" />  
                                        </p:selectOneMenu>
                                        
                                        <p:selectOneMenu binding="#{flavor}" style="width:160px;" label="Flavor" filter="true" filterMatchMode="startsWith" >
                                            <f:selectItem noSelectionOption="true" itemLabel="Flavor" itemValue="#{null}" />
                                            <f:selectItems value="#{commonInfo.filterCategories(constants.CATEGORY_TYPE_FLAVOR)}"
                                                           var="m" itemLabel="#{m.name}" itemValue="#{m.id}" />  
                                        </p:selectOneMenu>
                                        
                                        <p:commandButton style="margin-left: 55px;" actionListener="#{userSession.searchByCategory(brand.value, region.value, flavor.value)}" value="Find" />
                                    </h:panelGrid>
                                </p:tab>
                            </p:accordionPanel>
                        </h:form>
                    </ui:insert>
                </div>

                <div id="content" class="left_content">
                    <ui:insert name="content"></ui:insert>
                </div>
            </div>
        </h:body>
    </f:view>
</html>