<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" >
    <h:form>
        <p:menubar>
            <p:menuitem value="Your corner" icon="ui-icon ui-icon-lightbulb" url="#{constants.SYSTEM_MEMBER_PATH}MemberArea.xhtml" />

            <p:submenu label="Account" icon="ui-icon ui-icon-person">
                <p:menuitem value="Profile"      url="#{constants.SYSTEM_MEMBER_PATH}Profile.xhtml" />
                <p:menuitem value="Settings"     url="#{constants.SYSTEM_MEMBER_SSL_PATH}AccountSettings.xhtml" />
                <p:menuitem value="Transactions" url="#{constants.SYSTEM_MEMBER_PATH}TransactionHistory.xhtml" />
            </p:submenu>

            <p:menuitem value="Sign out" icon="ui-icon ui-icon-closethick" actionListener="#{loginBean.logOut}" />
        </p:menubar> 
    </h:form>
</html>