@charset "utf-8";
body {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:100%;
        border: 2px;
}
h1 {
	font-size:1.125em;
/*	color:#333;*/
	font-weight:normal;
}
h2 {
	font-size:0.875em;
/*	color:#333;*/
}
a img {
	border:none;
}
ul {
	margin:0px;
	padding:0px;
}
.header {
	width:300px;
}
#container {
/*        border:3px solid #CCC;*/
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
#topbar {
	height:30px;
	background-color:black;
}

.menu ul{
	padding:0;
	margin:0;
}

.menu li{
	list-style:none; 
	position:relative; 
	float:left;
	font-size:0.875em;
        z-index:999;
}

.menu a{
	display: block; 
	width: 100px; 
/*	color: white;*/
        line-height: 30px;
	text-decoration: none; 
	background: black;
	padding-left:5px;
}

.menu :hover > a{
	background:#0b75b2;
}

.menu_level1{
	position:absolute; top:30px; left:0;
}

.menu_level1{
	visibility:hidden;
}

.menu :hover > ul{
	visibility:visible;
}

.menu_user{
	float:right;
}

#login_box {
	background-image:url(images/login_box.png);
	background-repeat:no-repeat;
	background-position:center;
	clear:both;
}

form {
	font-size:0.8em;
}
.content {
/*        border:1px solid #CCC;*/
/*	background-color:#A6D2FF;*/
/*	padding:10px;*/
        height: auto;
	min-height: 580px;
        position: relative;
	
}
/*.sidebar {
        border:3px solid #CCC;
	float:right;
	width:180px;
	padding:10px;
	background-color:#DEF;
	min-height:400px;
}*/
.footer {
	padding: 10px;
	background: #F0F0F0;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	font-size:0.7em;
}
#content_home {
	width:500px;
	height:600px;
	border:1px solid #CCC;
	border-top:none;
	border-bottom:none;
/*	margin-left:3em;*/
}
#content_general {
	width:48em;
	min-height:600px;
	border:1px solid #CCC;
	border-top:none;
	border-bottom:none;
	margin-left:auto;
	margin-right:auto;
	
}
#sidebar_home {
	width:280px;
}

.ui-widget,
.ui-widget .ui-widget
{
    font-size: 97% !important; 
} 
