@charset "utf-8";
body {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:100%;
}
p, ul {
    font-size:0.8em;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
h1 {
    font-size:1.125em;
    color:#333;
    font-weight:normal;
}
h2 {
    font-size:0.875em;
    color:#333;
}
a img {
    border:none;
}
.header {
    float:left;
    width:260px;
}

#container {
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

#menu {
    /*position:relative;
    top: -4.8em;
    left:26.875em;*/
    width:430px;
    height:55px;
    background-image:url(menu-background-V2.png.xhtml?ln=student/images/);
    background-repeat:no-repeat;
    background-position:right;
    float:right;
    vertical-align: middle;
    text-align: center;
    font-size: small;
}

#menu p {
    padding:5px;
}

#menu a {
    color:black;
    text-decoration:none;
}

#menu a:hover {
    color:#36C;
}

#option1
{
    float:left;
    padding-top: 17px;
    width: 67px;
    height: 53px;

}

#option2
{
    float:left;
    padding-top: 17px;
    width: 87px;
    height: 53px;
}

#option3
{
    float:left;
    padding-top: 17px;
    width: 115px;
    height: 53px;
}

#option4
{
    float:left;
    padding-top: 17px;
    width: 66px;
    height: 53px;
}

#option5
{
    float:left;
    padding-top: 17px;
    width: 91px;
    height: 53px
}

#login_box {
    background-image:url(login_box.png.xhtml?ln=student/images/);
    background-repeat:no-repeat;
    background-position:center;
    clear:both;
}

form {
    font-size:0.8em;
}
.content {
    padding:1em;
}
.sidebar {
    float:right;
    padding:1em;
}
.footer {
    padding: 10px 10px 5px 50px;
    background: #F0F0F0;
    position: relative;/* this gives IE6 hasLayout to properly clear */
    clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
    font-size:0.7em;
}
#content_home {
    width:780px;
    min-height:600px;
    border:1px solid #CCC;
    border-top:none;
    border-bottom:none;
    margin-left:3em;
}
#content_general {
    width:48em;
    min-height:600px;
    border:1px solid #CCC;
    border-top:none;
    border-bottom:none;
    margin-left:auto;
    margin-right:auto;

}
/*#sidebar_home {
    width:290px;
}*/

.ui-widget,
.ui-widget .ui-widget
{
    font-size: 97% !important; 
} 